﻿@model IEnumerable<EdukiteService.Business.Entities.ExamPaperQuestionModel>



<div class="topic-list-conainer">
    <ul class="list-group list-group-sortable">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="topic-number pull-left">@item.QuestionNo</span>
                <div class="topic-list-inner col-lg-11">
                    <input type="hidden" value="@item.QuestionId" />
                    @Html.DisplayFor(modelItem => item.QuestionText)

                </div>
            </li>
        }
    </ul>
</div>