﻿@model IEnumerable<EdukiteService.Business.Entities.ExamPaperModel>



<div class="topic-list-conainer">
    <ul class="list-group list-group-sortable">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="topic-number pull-left">@item.PaperId</span>
                <div class="topic-list-inner col-lg-11">
                    <input type="hidden" value="@item.PaperNo" />
                    <a href="@Url.Action("GetQuestionsList", "Topics", new {id = item.PaperId})">
                        @Html.DisplayFor(modelItem => item.PaperName)</a>
                        <span class="topic-edit pull-right edit-asset edit-btn"><a href="@Url.Action(@*"Edit", "Topics", new { id = item.PaperId, SubId= item., GradeID = ViewBag.GradeID }*@)">&nbsp;</a></span>

           </div>
            </li>
        }
    </ul>
</div>

