﻿<div class="px-md-12 col-lg-12 header-middle-text">

    <div class="header-middle-text-inner">
        @if (ViewBag.GradeName != null && ViewBag.SubjectName != null)
        {
            @ViewBag.GradeName <br>
            <span>@ViewBag.SubjectName </span>
        }
    </div>
</div>

