﻿
@{
    ViewBag.Title = "AddPaper";

}



<div style="margin-top:100px">


    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">

        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Paper No
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <input type="text" class="form-control text-box single-line" />
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Paper Name

                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <input type="text" class="form-control text-box single-line" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Year
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <select id="ddlsubject" class="form-control text-box single-line"></select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Grade
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <select id="ddlsubject" class="form-control text-box single-line"></select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Subject
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <select id="ddlsubject" class="form-control text-box single-line"></select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Exam Type
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-7" style="padding-top:15px;">
                        <select id="ddlsubject" class="form-control text-box single-line"></select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="text-align:right">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        Instruction
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-9" style="padding-top:15px;">
                        <input type="text" class="form-control text-box single-line" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="color:black">
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-md-1" style="padding-top:15px;margin-left:400px;">
                      <input type="button" value="Save" style="height:30px;width:80px" />
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-1" style="padding-top:15px;margin-left:300px;">
                        <input type="button" value="Cancle" style="height:30px;width:80px" />
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">

        <input type="button" style="width:50%;white-space: normal;" Value="AddQuestion" class="btn btn-grey btn-centered uppercase padd-left-right-35" onclick="location.href='@Url.Action()'">

    </div>


</div>



@*<br /><br />
    <h3 style="margin-left:100px">Add Paper</h3>
    <div class="content-wrapper" id="addScreen">
        <div class="container" id="container" style="border:groove;padding-bottom:30px;padding-top:30px">



            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Paper No
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <input type="text" class="form-control text-box single-line" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Paper Name

                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <input type="text" class="form-control text-box single-line" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Year
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <select id="ddlsubject" class="form-control text-box single-line"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Grade
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <select id="ddlsubject" class="form-control text-box single-line"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Subject
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <select id="ddlsubject" class="form-control text-box single-line"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Exam Type
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-7" style="padding-top:15px;">
                            <select id="ddlsubject" class="form-control text-box single-line"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12" style="text-align:right">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:15px;">
                            Instruction
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-9" style="padding-top:15px;">
                            <input type="text" class="form-control text-box single-line" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>*@
