﻿@model EdukiteService.Business.Entities.TopicModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">
                <div class="backend-middle-main-container-inner">
                    @if (ViewBag.TopicData != null)
                    {
                        <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                            @Html.Partial("_GetTopics", (IEnumerable<EdukiteService.Business.Entities.TopicModel>)ViewBag.TopicData)
                        </div>
                    }
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <a href="#" class="delete-btn" data-toggle="modal" data-target="#modal-default">&nbsp;</a>
                                    <h3 class="box-title">Edit Topic</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" method="post">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("hdnGradeIdSubID", TempData["tmpGradeIdSubjectId"].ToString())
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.TopicId)
                                        @Html.HiddenFor(model => model.SubjectId)
                                        @Html.HiddenFor(model => model.TopicNo)
                                        <div class="box-body">

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name*</label>
                                                @*<input type="text" class="form-control height-75" id="exampleInputEmail1">*@
                                                @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Text Icon*</label>
                                                @*<input type="text" class="form-control" id="exampleInputEmail1">*@
                                                @Html.EditorFor(model => model.TextIcon, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TextIcon, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Description</label>
                                                @*<input type="text" class="form-control height-75" id="exampleInputPassword1">*@
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                                <button type="submit" value="edit" class="btn btn-grey pull-left">Save</button>

                                                <input type="button" Value="Cancel" class="btn btn-grey pull-right" onclick="location.href='@Url.Action("index","topics", new {@SubId =ViewBag.SubjectID, @GradeID = ViewBag.GradeID })'">
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p> Are you sure you want to delete Topic?</p>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-none margin-0-auto">
                        @*<button type="button" class="btn pull-left">Yes</button>*@
                        <input type="button" Value="Yes" class="btn pull-left" onclick="location.href='@Url.Action("Delete", "Topics", new { id = Model.TopicId })'">
                        <button type="button" class="btn pull-right" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.content-wrapper -->


@section Scripts {
<script>
         $('.list-group-sortable').sortable({
            placeholderClass: 'list-group-item',

             axis: 'y',
             update: function (event, ui) {
                 $('.list-group-sortable').sortable('disable');
                 var order = 1;
                 var model = [];

                 $(".list-group-sortable li").each(function () {
                     var hdn = $('input[type=hidden]', '.list-group-sortable li').eq(order - 1);

                     //alert(hdn.val());
                     //building a new object and pushing in modal array
                     //Here I am setting OrderNo property which is i am using in my db and building my object
                     var objModel = { TopicId: hdn.val(), TopicNo: order }; //This is for example to build your object and push in a modal array.
                     model.push(objModel);
                     order++;
                 });

                if (model.length > 1)
                {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("UpdateTopicsOrderAsync", "Topics")', //This is my url put your url here and pass model as data it is an array of my items
                        data: JSON.stringify({ lstTopicModel : model }),
                        success: function (data) {
                            location.reload();
                            //alert(data);
                            //do something
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            alert(msg);

                        }
                    });
                }
        }
        });
</script>
}

