﻿@model EdukiteService.Business.Entities.AssetModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <div id="loader"></div>

    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="container">
            <div class="row">
                <!-- Main content -->
                <section class="content backend-middle-main-container">
                    
                    <div class="backend-middle-main-container-inner">
                        @if (ViewBag.IsBulkAddingNeeded != null)
                        {
                            if (ViewBag.IsBulkAddingNeeded)
                            {

                                using (Html.BeginForm("BulkAdding", "Topics", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    @Html.ValidationSummary();

                                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">

                                        <div id="divBulkadd" style="display:none;">

                                            <div class="file-upload-box-container col-lg-11 col-sm-12 col-md-12 col-xs-12">
                                                <h2>BULK ADDING</h2>
                                                <form class="file-upload-box">
                                                    <div class="file-upload-box-top">
                                                        <label class="main-label">Location*</label>
                                                        <div id="FileBrowse" class="file-upload-box-top-inner">
                                                            @*<label for="fileuploadbulk" id="buttonlabel" class="upload-btn-label">
                                                                    <span role="button" aria-controls="filename" tabindex="0">
                                                                        Browse
                                                                    </span>
                                                                </label>*@
                                                            @*<input type="file" id="fileuploadbulk">*@
                                                            
                                                            @Html.TextBoxFor(model => model.PostedFile, new { type = "file", id = "fileuploadbulk", name = "file", placeholder = "Choose a file..." })
                                                            @*<input type="text" id="filename" autocomplete="off" readonly placeholder="no file uploaded" class="col-lg-10 col-sm-8 col-md-6 col-xs-8">*@
                                                            <span class="sub-label">(Make sure the folder contains all the assets)</span><br />
                                                            <span class="text-danger" id="spanfile"></span>

                                                        </div>
                                                    </div>

                                                    <div class="file-upload-box-bottom col-lg-6 col-sm-10 col-md-8 col-xs-12 margin-0-auto">
                                                        <button type="submit" id="btnBulkadd" class="btn pull-left">Add</button>
                                                        <button id="btnCancel" type="button" class="btn pull-right" onclick="javascript:history.back(1);" data-dismiss="modal">Cancel</button>
                                                    </div>

                                                    <div class="progress-container">
                                                        <div class="progress">
                                                            <div id="divProgressbar" class="progress-bar progress-bar-danger"></div>
                                                            <div class="progress-value"><span>   <label id="lblProgressValue"></label> </span></div>
                                                        </div>
                                                        <span class="upload-summary"><label id="lblDisplayMsg"></label></span>

                                                    </div>

                                                </form>
                                            </div>


                                        </div>
                                        <div id="divIEonlyNotification" class="alert alert-warning" style="display:none;">
                                            <h3>   <strong>Info!</strong> For File access Security Reasons, Bulk Adding is only supported in Internet Explorer.</h3>
                                        </div>

                                    </div>
                                }


                            }
                            else
                            {
                                <div id="divBulkadd" style="display:none;"></div>
                                <div id="divIEonlyNotification" style="display:none;">

                                </div>
                                if (ViewBag.TopicData != null)
                                {
                                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">
                                        @Html.Partial("_GetTopics", (IEnumerable<EdukiteService.Business.Entities.TopicModel>)ViewBag.TopicData)
                                    </div>
                                }
                            }
                        }


                        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                            <div class="form-container">
                                <div class="box box-primary">
                                    <!-- form start -->
                                    <form role="form" class="no-border">
                                        <div class="box-body">
                                            @*<button type="submit"  class="btn btn-grey btn-centered uppercase padd-left-right-35">Add <br>Topic</button>*@

                                            <input type="button" style="width:50%;white-space: normal;" Value="Add Topic" class="btn btn-grey btn-centered uppercase padd-left-right-35" id="btnAddTopic" onclick="location.href='@Url.Action("Create", "Topics", new { @SubId = ViewBag.SubjectID, @GradeID = ViewBag.GradeID })'">
											<br/>
											<input type="button" style="width:50%;white-space: normal;" Value="Exam" class="btn btn-grey btn-centered uppercase padd-left-right-35" id="btnAddTopic" onclick="location.href='@Url.Action("PaperList", "ExamPapers")'">
                                        </div>
										
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                            </div>
                            <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>



    <!-- /.content -->

</div>


<!-- /.content-wrapper -->

@section Scripts {

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>


    <script>


        function detectIE() {
            var ua = window.navigator.userAgent;

            // Test values; Uncomment to check result …

            // IE 10
            // ua = 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)';

            // IE 11
            // ua = 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko';

            // Edge 12 (Spartan)
            // ua = 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36 Edge/12.0';

            // Edge 13
            // ua = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586';

            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }

            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }

            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                // Edge (IE 12+) => return version number
                return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
            }

            // other browser
            return false;
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function LoadPage() {
            document.getElementById("myDiv").style.display = "none";
            document.getElementById("loader").style.display = "block";
        }

        $('.list-group-sortable').sortable({
            placeholderClass: 'list-group-item',

            axis: 'y',
        update: function (event, ui) {
            var order = 1;
            var model = [];

            $(".list-group-sortable li").each(function () {
                var hdn = $('input[type=hidden]', '.list-group-sortable li').eq(order-1);

                //alert(hdn.val());
                //building a new object and pushing in modal array
                //Here I am setting OrderNo property which is i am using in my db and building my object
                var objModel = { TopicId: hdn.val(), TopicNo: order }; //This is for example to build your object and push in a modal array.
                model.push(objModel);
                order++;
            });

            if (model.length > 1)
            {
                LoadPage();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("UpdateTopicsOrderAsync", "Topics")', //This is my url put your url here and pass model as data it is an array of my items
                    data: JSON.stringify({ lstTopicModel : model }),
                    success: function (data) {
                        location.reload();
                        //alert(data);
                        //do something
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        alert(msg);

                    }
                });
            }
        }
        });

        jQuery.browser = {};
        (function () {

            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {

                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();

        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                //for IE
                if ($.browser.msie) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        $("#btnBulkadd").on("click", function () {
         
            if ($('#fileuploadbulk').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                var IsCheckFile = checkfile();
                if (IsCheckFile) {
                    LoadPage();
                    $("#btnAddTopic").attr("disabled", true);
                    $("#btnBulkadd").attr("disabled", true);
                    $("#btnCancel").attr("disabled", true);
                    return true;
                }
                else
                {
                    return false;
                }
            }


        });
        //-------------------------------------------------------RikArena_09/09/2019
        function checkfile() {
            var file = getNameFromPath($("#fileuploadbulk").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                // alert(extension);
                switch (extension) {
                    case 'zip'://xml
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").text("You can upload only Zip extension file");
                return false;
            }
            else {
                var size = GetFileSize('fileuploadbulk');
                //-------------------------------------------------------RikArena_10/09/2019
                if (size > 10000) {
                    $("#spanfile").text("You can upload file up to 10000 MB");  //10
                    return false;
                }
                else {
                    $("#spanfile").text("");
                    return true;
                }
            }
        }

        $(function () {
            $("#fileuploadbulk").change(function () {
                checkfile();
            });

            var version = detectIE();

            if (version === false) {
                document.getElementById("divBulkadd").style.display = "none";
                document.getElementById("divIEonlyNotification").style.display = "block";

            } else {
                document.getElementById("divIEonlyNotification").style.display = "none";
                document.getElementById("divBulkadd").style.display = "block";

            }

            // Reference the auto-generated proxy for the hub.
            var progress = $.connection.bulkaddingHub;
            console.log(progress);

            // Create a function that the hub can call back to display messages.
            progress.client.AddProgress = function (message, percentage) {
                showPage();
                $('#divProgressbar').width(percentage);
                $('#lblProgressValue').text(percentage);
                $('#lblDisplayMsg').text(message);
                if (percentage == "100%") {
                    $('#lblProgressValue').text("");
                    $('#lblDisplayMsg').text(message);
                }
            };

            $.connection.hub.start().done(function () {
                showPage();
                //$('#btnBulkadd').click(function () {
                //    StartProcess();
                //});
                var connectionId = $.connection.hub.id;
                console.log(connectionId);
            });
        });


    </script>
}


