﻿@model EdukiteService.Business.Entities.BulkUserModel
@{
    ViewBag.Title = "BulkUserUploadW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    tr:nth-child(even) {
        background-color: #f7fafa;
    }

    tr:nth-child(odd) {
        background-color: #b0aba9;
    }

    th, td {
        padding: 10px;
    }
</style>

<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">

                    </div>

                    @*<form role="form" action="/Users/BulkUserUpload" id="BulkUserUpload" method="post">*@

                    @using (Html.BeginForm("BulkUserUpload", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @*@Html.AntiForgeryToken()*@
                        @Html.ValidationSummary();
                        <div class="col-md-12" style="text-align:right;padding-top:10px">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="padding-top:15px;font-size:medium">
                                        @*<input type="radio" style="" name="a" value="3" />&nbsp;&nbsp;&nbsp;Learners*@
                                        <label>@Html.RadioButtonFor(model => model.UserTypeId, value: 3)&nbsp;&nbsp;&nbsp;Learners</label>
                                        @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="margin-left:-200px;padding-top:15px;font-size:medium">
                                        @*<input type="radio" style="transform:scale(2)" name="a" value="5" />&nbsp;&nbsp;&nbsp;Teachers*@
                                        <label>@Html.RadioButtonFor(model => model.UserTypeId, value: 5)&nbsp;&nbsp;&nbsp;Teachers</label>
                                        @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="margin-left:-400px;padding-top:15px;font-size:medium">
                                        @*<input type="radio" style="transform:scale(2)" name="a" value="6" />&nbsp;&nbsp;&nbsp;Admin*@
                                        <label>@Html.RadioButtonFor(model => model.UserTypeId, value: 6)&nbsp;&nbsp;&nbsp;Admin</label>
                                        @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:right;padding-top:10px">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="margin-right:300px;padding-top:15px;">
                                        @*<input type="file" id="postedFile" value="postedFile" name="postedFile" style="color:black;background-color:white;width:500px;font-size:medium;height:35px" />*@


                                        @Html.TextBoxFor(model => model.excelFile, new { type = "file", id = "excelfile", name = "BulkUserUpload", placeholder = "Choose a file...", style = "color:black;background-color:white;width:400px;font-size:medium;height:35px" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4" style="padding-top:15px">
                                        @*<input type="button" id="viewfile" value="View list" style="border:0;color:white;background-color:#666666;font-size:medium" onclick="UploadData()" />*@
                                        @*<input type="submit" id="viewfile" value=" Check Valid" style="border:0;color:white;background-color:#666666;font-size:medium" />*@
                                        <button type="button" id="viewfile" value="View list" class=" col-md-12 btn " onclick="UploadData()">Check Valid</button>&nbsp;&nbsp;&nbsp;
                                        
                                    </div>
                                    <div class="col-md-2"style="padding-top:15px">
                                        <button type="submit" id="btnBulkadd" value="BulkUserUpload" class=" col-md-12 btn ">Add</button>
                                    </div>

                                    </div>
                                </div>
                        </div>

                        <div class="col-md-12" style="text-align:right;padding-top:10px">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="padding-top:15px;font-size:medium">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6" style="margin-left:-200px;padding-top:15px;font-size:medium">
                                        @*<a href="" style="color:white;background-color:#666666"></a>*@
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6" style="margin-left:-400px;padding-top:15px;font-size:medium">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="" class="col-md-12" style="padding-top:10px;overflow-x:auto;margin-left:65px;">
                                <table id="exceltable" class="table-bordered" style="width:5000px;margin:auto;table-layout:fixed;border-collapse:collapse;margin-left:-16px;text-align:left">
                                    <tr style="text-align:start;color:white;background-color:#666666;height:30px">
                                        <th style="">FirstName</th>
                                        <th>Last Name</th>
                                        <th>Cellphone No</th>
                                        <th>Telephone No</th>
                                        <th>Email address</th>
                                        <th>Gender</th>
                                        <th>DOB</th>
                                        <th>School</th>
                                        <th>City/Town</th>
                                        <th>Province</th>
                                        <th>Parent’s Name</th>
                                        <th>Parent’s Cellphone No</th>
                                        <th>Parent’s Email address</th>
                                        <th>Favourite Subject</th>
                                        <th>User Type</th>
                                        <th>User Group</th>
                                        <th>Package</th>
                                        <th>Grade #1</th>
                                        <th>Grade #2</th>
                                        <th>Grade #3</th>
                                        <th>Grade #4</th>
                                        <th>Grade #5</th>
                                        <th>Grade #6</th>
                                        <th>Grade #7</th>
                                        <th>Grade #8</th>
                                        <th>Grade #9</th>
                                        <th>Grade #10</th>
                                        <th>Grade #11</th>
                                        <th>Grade #12</th>
                                        <th>Grade #13</th>
                                    </tr>
                                    <tbody id="tablebody"></tbody>
                                </table>
                            </div>
                        </div>
                    }
                    @*</form>*@
                </div>
            </section>
        </div>
    </div>
</div>
<script src="jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
<script>
    function UploadData() {
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
        /*Checks whether the file is a valid excel file*/
        if (regex.test($("#excelfile").val().toLowerCase())) {
            var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/
            if ($("#excelfile").val().toLowerCase().indexOf(".xlsx") > 0) {
                xlsxflag = true;
            }
            /*Checks whether the browser supports HTML5*/
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    /*Converts the excel data in to object*/
                    if (xlsxflag) {
                        var workbook = XLSX.read(data, { type: 'binary' });
                    }
                    else {
                        var workbook = XLS.read(data, { type: 'binary' });
                    }
                    /*Gets all the sheetnames of excel in to a variable*/
                    var sheet_name_list = workbook.SheetNames;

                    var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/
                    sheet_name_list.forEach(function (y) { /*Iterate through all sheets*/
                        /*Convert the cell value to Json*/
                        if (xlsxflag) {
                            var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                        }
                        else {
                            var exceljson = XLS.utils.sheet_to_row_object_array(workbook.Sheets[y]);
                        }
                        if (exceljson.length > 0 && cnt == 0) {
                            BindTable(exceljson, '#exceltable');
                            cnt++;
                        }
                    });
                    $('#exceltable').show();
                }
                if (xlsxflag) {/*If excel file is .xlsx extension than creates a Array Buffer from excel*/
                    reader.readAsArrayBuffer($("#excelfile")[0].files[0]);
                }
                else {
                    reader.readAsBinaryString($("#excelfile")[0].files[0]);
                }
            }
            else {
                alert("Sorry! Your browser does not support HTML5!");
            }
        }
        else {
            alert("Please upload a valid Excel file!");
        }


        function BindTable(jsondata, tableid) {/*Function used to convert the JSON array to Html Table*/
            //var columns = BindTableHeader(jsondata, tableid); /*Gets all the column headings of Excel*/
            var t = "";
            var FirstName = "";
            var LastName = "";
            var CellphoneNo = "";
            var TelephoneNo = "";
            var Emailaddress = "";
            var Gender = "";
            var Dob = "";
            for (var i = 0; i < jsondata.length; i++) {
                var regName = /^[a-zA-Z]+$/;
                if (jsondata[i]["FirstName"] == null) {
                    FirstName = "<td>" + '-' + "</td>";
                }
                else if (regName.test(jsondata[i]["FirstName"])) {
                    FirstName = "<td>" + jsondata[i]["FirstName"] + "</td>";
                }
                else {
                    FirstName = "<td style='color:red'>" + jsondata[i]["FirstName"] + "</td>";
                }

                if (jsondata[i]["LastName"] == null) {
                    LastName = "<td>" + '-' + "</td>";
                }
                else if (regName.test(jsondata[i]["LastName"])) {
                    LastName = "<td>" + jsondata[i]["LastName"] + "</td>";
                }
                else {
                    LastName = "<td style='color:red'>" + jsondata[i]["LastName"] + "</td>";
                }

                var numvalid = /^\d{10}$/;
                if (jsondata[i]["CellphoneNo"] == null) {
                    CellphoneNo = "<td>" + '-' + "</td>";
                }
                else if (numvalid.test(jsondata[i]["CellphoneNo"])) {
                    CellphoneNo = "<td>" + jsondata[i]["CellphoneNo"] + "</td>";
                }
                else {
                    CellphoneNo = "<td style='color:red'>" + jsondata[i]["CellphoneNo"] + "</td>";
                }
                //telephone validation
                if (jsondata[i]["Telephone No"] == null) {
                    TelephoneNo = "<td>" + '-' + "</td>";
                }
                else if (numvalid.test(jsondata[i]["Telephone No"])) {
                    TelephoneNo = "<td>" + jsondata[i]["Telephone No"] + "</td>";
                }
                else {
                    TelephoneNo = "<td style='color:red'>" + jsondata[i]["Telephone No"] + "</td>";
                }

                //email validation
                //var mailform = /^([A-Za-z0-9_\-\.])+\@@([A-Za-0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (jsondata[i]["Email address"] == null) {
                    Emailaddress = "<td>" + '-' + "</td>";
                }
                else if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(jsondata[i]["Email address"])) {
                    Emailaddress = "<td>" + jsondata[i]["Email address"] + "</td>";
                }
                else {
                    Emailaddress = "<td style='color:red'>" + jsondata[i]["Email address"] + "</td>";
                }

                //gender validation
                if (jsondata[i]["Gender"] == null) {
                    Gender = "<td>" + '-' + "</td>";
                }
                else if (jsondata[i]["Gender"] == 'male' || jsondata[i]["Gender"] == 'female') {
                    Gender = "<td>" + jsondata[i]["Gender"] + "</td>";
                }
                else {
                    Gender = "<td style='color:red'>" + jsondata[i]["Gender"] + "</td>";
                }
                //DOB validation
                var dateform = /^([0-9]{2})-([0-9]{2})-([0-9]{4})$/;
                if (jsondata[i]["DOB"] == null) {
                    Dob = "<td>" + '-' + "</td>";
                }
                else if (numvalid.test(jsondata[i]["DOB"])) {
                    Dob = "<td>" + jsondata[i]["DOB"] + "</td>";
                }
                else {
                    Dob = "<td style='color:red'>" + jsondata[i]["DOB"] + "</td>";
                }


                t = t + "<tr style='color:black;height:25px;'>" + FirstName + "+" + LastName + " +" + CellphoneNo + "+" + TelephoneNo + "" +
                    "" + Emailaddress + "+" + Gender + "+" + Dob + "" +
                    // "<td> " + jsondata[i]["LastName"] + "</td> " +
                    // "<td> " + jsondata[i]["CellphoneNo"] + "</td> " +
                    //"<td> " + jsondata[i]["Telephone No"] + "</td> " +
                    // "<td> " + jsondata[i]["Email address"] + "</td> " +
                    //"<td> " + jsondata[i]["Gender"] + "</td> " +
                    //"<td> " + jsondata[i]["DOB"] + "</td> " +
                    "<td> " + jsondata[i]["School"] + "</td> " +
                    "<td> " + jsondata[i]["City/Town"] + "</td> " +
                    "<td> " + jsondata[i]["Province"] + "</td> " +
                    "<td> " + jsondata[i]["Parent’sName"] + "</td> " +
                    "<td> " + jsondata[i]["Parent’sCellphone No"] + "</td> " +
                    "<td> " + jsondata[i]["Parent’sEmail address"] + "</td> " +
                    "<td> " + jsondata[i]["Favourite Subject"] + "</td> " +
                    "<td> " + jsondata[i]["User Type"] + "</td> " +
                    "<td> " + jsondata[i]["User Group"] + "</td> " +
                    "<td> " + jsondata[i]["Package"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #1"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #2"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #3"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #4"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #5"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #6"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #7"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #8"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #9"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #10"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #11"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #12"] + "</td> " +
                    "<td> " + jsondata[i]["Grade #13"] + "</td></tr>";

            }


            $("#tablebody").html(t);
        }

        function BindTableHeader(jsondata, tableid) {/*Function used to get all column names from JSON and bind the html table header*/
            var columnSet = [];
            var headerTr$ = $('<tr/>');
            for (var i = 0; i < jsondata.length; i++) {
                var rowHash = jsondata[i];
                for (var key in rowHash) {
                    if (rowHash.hasOwnProperty(key)) {
                        if ($.inArray(key, columnSet) == -1) {/*Adding each unique column names to a variable array*/
                            columnSet.push(key);
                            headerTr$.append($('<th/>').html(key));
                        }
                    }
                }
            }
            $(tableid).append(headerTr$);
            return columnSet;
        }
    }

</script>
