﻿@model EdukiteService.Business.Entities.getUserModel

@{
    ViewBag.Title = "EditUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    #editPersonal, #editCredit, #editdownloads {
        border: 2px solid gray;
        padding: 10px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
</style>
@*<script>
    function Edit() {
        debugger;
        //alert("Start")
        $.ajax({
            type: 'POST',
            url: '/Users/Update',
            data: {
               //User: id
            }
        }); //e
    }
</script>*@

<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">


                <div class="backend-middle-main-container-inner">
                    @*@if (ViewBag.UserData != null)
                        {
                            //@Html.Partial("_GetUsers", (IEnumerable<EduKiteService.Models.EditUsers>)ViewBag.UserData)
                           // @Html.Partial("_GetUsers", (IEnumerable<EdukiteService.Business.Entities.getUserModel>)ViewBag.UserData)
                        }*@

                    <h4 style="text-align:center">Personal Details</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    



                    @*<i class="fa fa-edit" style="font-size:40px; margin-left:1150px"></i>*@
                    <form role="form" action="/Users/Update" id="Save" method="post">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.UserId)
                            @*<a href="~/Users/EditUsers"><i class="fa fa-edit" style="font-size:40px; margin-left:1150px"></i></a>*@
                            @*<a href="@Url.Action("EditUsers", "Users")"><i class="fa fa-edit" style="font-size:40px; margin-left:1150px"></i></a>*@
                            @*<i class="fa fa-edit" style="font-size:40px; margin-left:1150px"></i>*@
                            <input type="submit" value="Save" class="fa fa-edit" style="font-size:40px; margin-left:1150px" />
                            <div id="editPersonal" class="panel-body">




                                <div class="col-md-12" style="text-align:right">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                UserType * :
                                            </div>

                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.DropDownList("UserTypeId", new SelectList((System.Collections.IEnumerable)ViewData["UserType"], "Value", "Text"), new { onchange = "usertype(this)", @class = "form-control text-box single-line" })

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Email Address *:
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @type = "text", @id = "txtEmailAddress", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                First Name * :
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" id="FirstName" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Last Name *:
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @type = "text", @onkeypress = "return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)", @id = "txtLastName", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Cellphone No.*
                                            </div>
                                            <div class="col-md-3">
                                                @*<select class="form-control">
                                    <option value="0" selected>+27</option>
                                </select>*@
                                                @Html.DropDownList("CellphoneCode", new SelectList((System.Collections.IEnumerable)ViewData["CellphoneCode"], "Value", "Text"), new { @class = "form-control text-box single-line" })
                                            </div>
                                            <div class="col-md-6">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @type = "text", @id = "txtCellphoneNo", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Telephone No.
                                            </div>
                                            <div class="col-md-3">
                                                @*<select class="form-control">
                                    <option value="0" selected>+27</option>
                                </select>*@
                                                @Html.EditorFor(model => model.TelephoneCode, new { htmlAttributes = new { @type = "text", @id = "txtTelephoneCode", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.TelephoneCode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.TelephoneNo, new { htmlAttributes = new { @type = "text", @id = "txtTelephoneNo", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.TelephoneNo, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Gender
                                            </div>
                                            <div class="col-md-9">
                                                @*<select class="form-control">
                                    <option value="0" selected>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>*@
                                                @Html.DropDownList(
        "Gender",
        new List<SelectListItem>
        {
            new SelectListItem { Text = "Male", Value = "1"},
            new SelectListItem { Text = "Female",  Value = "2" }
        },
        new {@class= "form-control text-box single-line" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                DOB
                                            </div>

                                            <div class="col-md-9">
                                                @*<input type="date" class="form-control" />*@
                                                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Grade
                                            </div>
                                            <div class="col-md-9">
                                                @*<select class="form-control">
                                    <option value="0" selected>10</option>
                                    <option>9</option>
                                    <option>8</option>
                                </select>*@
                                                @Html.DropDownList("GradeID", new SelectList((System.Collections.IEnumerable)ViewData["Grade"], "Value", "Text"), new { @class = "form-control text-box single-line" })
                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                School
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.SchoolId, new { htmlAttributes = new { @type = "text", @id = "txtschool", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                City/Town
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @type = "text", @id = "txtcity", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Province
                                            </div>
                                            <div class="col-md-9">
                                                @*<select class="form-control"></select>*@
                                                @Html.DropDownList("ProvinceId", new SelectList((System.Collections.IEnumerable)ViewData["Province"], "Value", "Text"), new { @class = "form-control text-box single-line" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Favourite Subject
                                            </div>
                                            <div class="col-md-9">
                                                @*<select class="form-control"></select>*@
                                                @Html.DropDownList("FavSubID", new SelectList((System.Collections.IEnumerable)ViewData["Subject"], "Value", "Text"), new { @class = "form-control text-box single-line" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Parent’s details-->
                                <div class="col-md-12" style="text-align:right;padding-top:20px">

                                    <h4 style="text-align:center">Parent’s details</h4>
                                </div>
                                <div class="col-md-12" style="text-align:right">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Name
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.P_Name, new { htmlAttributes = new { @type = "text", @onkeypress = "return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)", @id = "txtParentName", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.P_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Email Address
                                            </div>
                                            <div class="col-md-9">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.P_EmailId, new { htmlAttributes = new { @type = "text", @id = "txtParentEmail", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.P_EmailId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;padding-top:20px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Cellphone No.
                                            </div>
                                            <div class="col-md-3">
                                                @*<select class="form-control"></select>*@
                                                @Html.DropDownList("P_CellphoneCode", new SelectList((System.Collections.IEnumerable)ViewData["CellphoneCode"], "Value", "Text"), new { @class = "form-control text-box single-line" })
                                            </div>
                                            <div class="col-md-6">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.P_CellPhoneNo, new { htmlAttributes = new { @type = "text", @id = "txtPCellphoneNo", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.P_CellPhoneNo, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3" style="padding-top:15px;">
                                                Telephone No.
                                            </div>
                                            <div class="col-md-3">
                                                @*<select class="form-control"></select>*@
                                                @Html.EditorFor(model => model.P_CellphoneCode, new { htmlAttributes = new { @type = "text", @id = "txtPTelephoneCode", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.P_CellphoneCode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                @*<input type="text" class="form-control text-box single-line" />*@
                                                @Html.EditorFor(model => model.P_TelePhoneNo, new { htmlAttributes = new { @type = "text", @id = "txtPTelephoneNo", @class = "form-control text-box single-line" } })
                                                @Html.ValidationMessageFor(model => model.P_TelePhoneNo, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </form>
                    <br /><h4 style="text-align:center">Subcription Details</h4>
                    <div class="col-md-12" style="padding-top:10px;">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fa fa-cart-plus" onclick="" style="font-size:40px; margin-left:1010px"></i>
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-edit" style="font-size:40px; margin-left:950px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="editSubsription" class="col-md-12" style="padding-top:10px;overflow-x:auto;">
                        <table id="exceltable" style="table-layout:fixed; width:2000px;margin:auto;border-collapse:collapse; margin-left:-16px;text-align:left">
                            <tr style="background-color:#666666;height:30px;text-align:center">
                                <th style="padding:5px">User Type</th>
                                <th>User Group</th>
                                <th>Package</th>
                                <th>Grade</th>
                                <th>Package detail</th>
                                <th>Subscription start</th>
                                <th>Subscription End</th>
                                <th>Days left</th>
                                <th>Price</th>
                                <th>Code</th>
                                <th>Discount</th>
                                <th>Credits used</th>
                                <th>Paid</th>
                                <th>Transaction</th>
                                <th>Status</th>
                            </tr>
                            <tbody id="tablebody" style="">
                                <tr><td colspan="15" style="padding:15px;padding-left:30%;">Data Not available</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <h4 style="text-align:center;">Edukite Credit details</h4>
                    <div id="editCredit" class="panel-body" style="height:200px;">
                    </div>
                    <br />
                    <h4 style="text-align:center">Device and Downloads</h4>
                    <div id="editdownloads" class="panel-body" style="height:100px">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

