﻿@model  IEnumerable<EdukiteService.Business.Entities.getUserModel>

@{
    ViewBag.Title = "SearchingUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(Model, defaultSort: "User Id", rowsPerPage: 10, columnNames: new[] { "Check Box", "Edit", "Delete", "UserId", "FirstName", "LastName", "Gender", "dob", "ContactNo", "TelephoneNo", "EmailId", "City", "ProvinceId", "GradeID", "UserTypeId", "SchoolId", "IsActive" });
}

<style type="text/css">

    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #b0aba9;
    }

    th,
    td {
        padding: 10px;
        color: midnightblue;
    }

    body {
        font-family: Arial;
        font-size: 12pt;
    }
</style>

<link rel="stylesheet" type="text/css" href="../css/redmond/jquery-ui-1.7.2.custom.css" />

<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">

                    <i class="fa fa-download" style="font-size:30px;margin-left:85px"></i>
                    <i class="fa fa-envelope" style="font-size:30px;margin-left:20px"></i>
                    <i class="fa fa-cart-plus" onclick="" style="font-size:30px;margin-left:20px"></i>

                    <div class="col-md-12" style="text-align:right;padding-top:10px">
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-md-6" style="padding-top:15px;font-size:medium">
                                    <input type="radio" style="transform:scale(2)" name="a" />&nbsp;&nbsp;&nbsp;Learners
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-md-6" style="margin-left:-200px;padding-top:15px;font-size:medium">
                                    <input type="radio" style="transform:scale(2)" name="a" />&nbsp;&nbsp;&nbsp;Teachers
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-md-6" style="margin-left:-400px;padding-top:15px;font-size:medium">
                                    <input type="radio" style="transform:scale(2)" name="a" />&nbsp;&nbsp;&nbsp;Admin
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:right;padding-top:20px">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="row">

                                <div class="col-md-3" style="margin-right:10px;width:500px;">
                                    @*<input type="search" value="Search---" class="form-control text-box single-line" />*@
                                    <input type="search" id="searchString" name="searchuser" class="form-control text-box single-line" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="row">

                                <div class="col-md-3" style="margin-left:-100px">
                                    @*<input type="submit" value="Search" class="form-control text-box single-line" style="border:0; background-color:#666666;color:white" />*@
                                    <input type="submit" value="Search" id="btnSearch" class="form-control text-box single-line" style="border:0; background-color:#666666;color:white" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divGrid" class="col-md-12" style="padding-top:10px;overflow-x:auto;margin-left:0px;">
                        @grid.GetHtml(
                        tableStyle:"Grid-table",
                        headerStyle:"Grid-Header",
                        alternatingRowStyle:"Grid-alt",
                        selectedRowStyle:"Grid-selected",
                        rowStyle: "Grid-rowstyle",
                        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                        columns:
                        grid.Columns
                        (
                                @*grid.Column(format: @<text> <input type="checkbox" value="@item.UserId" name="ids" /> </text>),*@
                                grid.Column(format:@<text><a href="~/Users/EditUsers?UserId=@item.UserId" onclick="EditMe('@item.UserId')"><img src="~/Content/img/edit_user.png" alt="#" /></a></text>),
          grid.Column(format:@<text><a href="" onclick="DeleteME('@item.UserId')"><img src="~/Content/img/Delete_user.png" alt="#" /></a></text>),

grid.Column(columnName: "UserId", header: "User Id"),
grid.Column(columnName: "FirstName", header: "First Name"),
grid.Column(columnName: "LastName", header: "Last Name"),
grid.Column(columnName: "Gender", header: "Gender"),
grid.Column(columnName: "dob", header: "DOB"),
grid.Column(columnName: "ContactNo", header: "Phone No."),
grid.Column(columnName: "TelephoneNo", header: "Telephone No."),
grid.Column(columnName: "EmailId", header: "Email Id"),
grid.Column(columnName: "City", header: "City/Town"),
grid.Column(columnName: "ProvinceId", header: "Province Id"),
grid.Column(columnName: "GradeID", header: "Grade ID"),
grid.Column(columnName: "SchoolId", header: "School Id"),
grid.Column(columnName: "P_Name", header: "Parent Name"),
grid.Column(columnName: "P_EmailId", header: "Parent Email"),
grid.Column(columnName: "P_CellPhoneNo", header: "Parent CellPhoneNo."),
grid.Column(columnName: "P_TelePhoneNo", header: "Parent TelePhoneNO."),

grid.Column(columnName: "UserTypeId", header: "User Type"),
grid.Column(columnName: "UserGroup", header: "User Group"),
grid.Column(columnName: "Package", header: "Package Name"),
grid.Column(columnName: "IsActive", header: "IsActive")

)
)
                    </div>



                </div>

            </section>
        </div>
    </div>
</div>
<script>
    function DeleteME(id) {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/Users/DeletUser',
            data: {
                UserID: id
            }
        }); //e
    }
</script>
<script>
    function EditMe(id) {
        debugger;
        //alert("Start")
        $.ajax({
            type: 'HttpGet',
            url: '/Users/EditUsers',
            data: {
                UserID: id
            }
        }); //e
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            var searchString = $("#searchString").val();
            $("tbody tr td").each(function (i, element) {
                var content = $(element).text();
                if (content.indexOf(searchString) != -1) {
                    //found
                    $(element).css("background-color", "yellow");

                }
            });
        });
    });
</script>


