﻿
@{
    ViewBag.Title = "SUBSCRIPTIONS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    tr:nth-child(even) {
        background-color: #f7fafa;
    }

    tr:nth-child(odd) {
        background-color: #b0aba9;
    }

    th, td {
        padding: 10px;
    }
</style>

<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">

                    <div class="col-md-12" style="text-align:right;padding-top:20px">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="row">

                                <div class="col-md-3" style="width:500px">
                                    <input type="search" value="Search---" class="form-control text-box single-line" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="row">

                                <div class="col-md-3" style="margin-left:-100px">
                                    <input type="submit" value="Search" class="form-control text-box single-line" style="border:0;background-color:#666666;color:white" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="" class="col-md-12" style="padding-top:10px;overflow-x:auto;margin-left:85px;">
                        <table id="exceltable" class="table-bordered" style="width:2000px;margin:auto;table-layout:fixed;border-collapse:collapse;margin-left:-16px;text-align:left">
                            <tr style="background-color:#666666;height:30px;text-align:center">
                            
                                <th style="padding:10px">FirstName</th>
                                <th>Last Name</th>
                                <th>Cellphone No</th>
                                <th>Email address</th>
                                <th>User Type</th>
                                <th>User Group</th>
                                <th>Package</th>
                                <th>Grade</th>
                                <th>Package detail</th>
                                <th>Subscription start</th>
                                <th>Subscription End</th>
                                <th>Days left</th>
                                <th>Price</th>
                                <th>Code</th>
                                <th>Discount</th>
                                <th>Credits used</th>
                                <th>Paid</th>
                            </tr>
                            <tbody id="tablebody"style="height:100px">
                                    <tr><td colspan="17" style="padding:15px;padding-left:25%;">Data Not available</td></tr>
                            </tbody>
                        </table>
                    </div>





                    </div>

</section>
        </div>
    </div>
</div>

