﻿
@{
    ViewBag.Title = "UserDashbord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12  verticle-separate horizontal-separate">
                        <div class="col-lg-6 col-md-4 col-xs-6 pull-right">
                            <!-- small box -->
                            <div class="small-box bg-light-grey">
                                <div class="inner">

                                    <h3></h3>
                                    <a href="~/Users/AddUser">
                                        <p>Add User</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">
                        <div class="col-lg-6 col-md-4 col-xs-offset-3">
                            <!-- small box -->                           
                                <div class="small-box bg-light-grey">
                                    <div class="inner">

                                        <h3></h3>
                                        <a href="~/Users/BulkUserUpload">
                                            <p>Bulk User</p>
                                        </a>
                                    </div>
                                </div>                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="col-lg-6 col-md-4 col-xs-6 pull-left">
                            <!-- small box -->
                            <div class="small-box bg-light-grey">
                                <div class="inner">

                                    <h3></h3>
                                    <a href="~/Users/SearchingUsers">
                                        <p>Search User</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
