﻿@model EdukiteService.Business.Entities.GradeModel

@{
    ViewBag.Title = "Edit";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12">
                       
                        @if (ViewBag.GradeData != null)
                        {
                            @Html.Partial("_GetAllGrades", (IEnumerable<EdukiteService.Business.Entities.GradeModel>)ViewBag.GradeData)
                        }
                    </div>

                    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <a href="#" class="delete-btn">&nbsp;</a>
                                    <h3 class="box-title">Edit Grade</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" action="/Grades/Edit" id="editForm" method="post">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("initialGradeName", Model.GradeName)
                                    <div class="box-body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.GradeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div>
                                                @Html.EditorFor(model => model.GradeId, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                                                             

                                        <div class="form-group">
                                            <label for="exampleInputName" class="control-label col-md-2">Name*</label>
                                            <div >
                                                @Html.EditorFor(model => model.GradeName, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.GradeName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="exampleInputDesc" class="control-label col-md-2">Description</label>
                                            <div >
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p class="help-block">*The grade will have to be published manually after any changes made.</p>
                                        </div>

                                    </div>

                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <div class="box-footer-inner col-lg-8 col-sm-10 col-md-8 col-xs-12">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                            <input type="button" Value="Cancel" class="btn btn-grey pull-right" id="cancelGrade" onclick="location.href='@Url.Action("GetGrades", "Grades")'">
                                        </div>
                                    </div>
}

                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color:black" id="myModalLabel">Are you sure, You want to Delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
      var modalConfirm = function (callback) {

        $(".delete-btn").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            window.location.href = '@Url.Action("DeleteGrade", "Grades")' + '?id=' + @Model.GradeId;

            } else {
            //Acciones si el usuario no confirma
            // $("#result").html("NO CONFIRMADO");
            }
            });

            </script>
}
