﻿@using EdukiteService.Business.Entities;
@model EdukiteService.Business.Entities.CommonSubTopicAssetModel


<div class="topic-list-conainer">
    <ul>
        <li>
            @if (ViewBag.AssetsWithoutSubTopic != null)
            {
                @Html.Partial("~/Views/Asset/_GetAssets.cshtml", (IEnumerable<EdukiteService.Business.Entities.AssetModel>)ViewBag.AssetsWithoutSubTopic)
            }
        </li>
        <li>
            <ul id="sbSortable" class="list-group list-group-sortable">
                @foreach (var item1 in Model.SubTopicVM)
                 {

                    <li id="sbLi" class="list-group-item">

                        <span class="topic-number pull-left">
                            @Html.DisplayFor(modelItem => item1.SubtopicNo)
                        </span>
                        <div class="topic-list-inner col-lg-11">
                            <input type="hidden" id="hdnSB" value="@item1.SubtopicId" />
                            @Html.DisplayFor(modelItem => item1.SubtopicName)
                            <span class="topic-edit pull-right edit-asset edit-btn"><a href="@Url.Action("Edit", "SubTopics", new { id = item1.SubtopicId })">&nbsp;</a></span>
                        </div>




                        <ul id="assetSortable" class="list-group sub-topic-list list-group-sortable">


                            @foreach (var item2 in Model.AssetVM)
                            {
                                if (item1.SubtopicId == item2.SubtopicId)
                                {
                            <li class="list-group-item topic-margin-left">
                                @*<span class="pull-left">@Html.DisplayFor(modelItem => item2.AssetNo)</span>*@
                                @if (item2.isAssetHide && item2.AssetTypeId == 1)
                                        {
                                <a href=""><span class="sub-topic-left video-green pull-left">&nbsp;</span></a>
                                        }
                                        else if(!item2.isAssetHide && item2.AssetTypeId == 1)
                                        {
                                <a href=""><span class="sub-topic-left video-red pull-left">&nbsp;</span></a>
                                        }

                                @if (item2.isAssetHide && (item2.AssetTypeId == 3 || item2.AssetTypeId == 4))
                                {
                                    <a href=""><span class="sub-topic-left int-green pull-left">&nbsp;</span></a>
                                }
                                else if (!item2.isAssetHide && (item2.AssetTypeId == 3 || item2.AssetTypeId == 4))
                                {
                                    <a href=""><span class="sub-topic-left int-red pull-left">&nbsp;</span></a>
                                }

                                <div class="sub-topic-list-inner col-lg-11">
                                    <input type="hidden" id="hdnAsset" value="@item2.AssetId" />
                                    @Html.DisplayFor(modelItem => item2.AssetName)
                                    <span class="topic-edit pull-right edit-asset edit-btn">
                                        <a href="@Url.Action("Edit", "Asset", new { id = item2.AssetId, topicID = item2.TopicId })">&nbsp;</a>

                                    </span>
                                </div>
                            </li>
                                }


                            }
                        </ul>




                    </li>
                }
            </ul>
        </li>
    </ul>
</div>



