﻿
@*@{
    ViewBag.Title = "_GetPaperList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_GetPaperList</h2>*@

@model IEnumerable<EdukiteService.Business.Entities.ExamPaperModel>

<div class="topic-list-conainer">
    <ul class="list-group list-group-sortable">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="topic-number pull-left">@item.PaperId</span>
                <div class="topic-list-inner col-lg-11">
                    <input type="hidden" value="@item.PaperNo" />

                    <a href="@Url.Action("GetQuestionsList", "ExamPapers" , new {id=item.PaperId})">
                        @Html.DisplayFor(modelItem => item.PaperName)
                    </a>
                    <span class="fa fa-edit pull-right edit-asset edit-btn"><a href="@Url.Action("AddPaper", "ExamPapers")"></a>&nbsp;</span>


                </div>
            </li>
        }
    </ul>
</div>