﻿@*@{
        ViewBag.Title = "_GetOptionsList";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>_GetOptionsList</h2>*@

@model IEnumerable<EdukiteService.Business.Entities.ExamPaperQuestionOptionModel>


<div class="topic-list-conainer">
    <ul class="list-group list-group-sortable">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="topic-number pull-left">@item.OptionNumber</span>
                <div class="topic-list-inner col-lg-11">
                    <input type="hidden" value="@item.OptionNumber" />

                   
                        @Html.DisplayFor(modelItem => item.OptionText)
                   
                   

                </div>
            </li>
        }
    </ul>
</div>