﻿
@*@{
    ViewBag.Title = "_GetQuestionsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_GetQuestionsList</h2>*@

@model IEnumerable<EdukiteService.Business.Entities.ExamPaperQuestionModel>



<div class="topic-list-conainer">
    <ul class="list-group list-group-sortable">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span class="topic-number pull-left">@item.QuestionNo</span>
                <div class="topic-list-inner col-lg-11">
                    <input type="hidden" value="@item.QuestionId" />
                    <a href="@Url.Action("GetOptions", "ExamPapers", new { id = item.QuestionId})">
                        @Html.DisplayFor(modelItem => item.QuestionText)</a>
                        <span class="fa fa-edit pull-right edit-asset edit-btn"><a href="@Url.Action()">&nbsp;</a></span>
                </div>
            </li>
        }
    </ul>
</div>