﻿@model EdukiteService.Business.Entities.ExamPaperQuestionOptionModel
@{
    ViewBag.Title = "AddOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">

                    <div class="form-container form-group-width">
                        <div class="box box-primary" style="height:500px;width:400px">
                            <div class="box-header">
                                <!-- <a href="#" class="delete-btn">&nbsp;</a>-->
                                <h3 class="box-title">Add Option</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form" action="/ExamPapers/CreateOption" id="AddPaperForm"  method="post">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">QuestionId</label>
                                        @Html.DropDownList("Question", new SelectList((System.Collections.IEnumerable)ViewData["Question"], "Value", "Text"), new { onchange = "QuestionId(this)", @class = "form-control text-box single-line" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Option Text</label>
                                        @* <input type="text" class="form-control height-75" id="exampleInputEmail1">*@
                                        @Html.EditorFor(model => model.OptionText, new { htmlAttributes = new { @class = "form-control height-75" } })
                                        @Html.ValidationMessageFor(model => model.OptionText, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Option No</label>
                                        @*  <input type="text" class="form-control" id="exampleInputEmail1">*@
                                        @Html.EditorFor(model => model.OptionNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OptionNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Option Short</label>
                                        @*  <input type="text" class="form-control" id="exampleInputEmail1">*@
                                        @Html.EditorFor(model => model.OptionShort, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OptionShort, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                            <button type="submit" value="Create" class="btn btn-grey pull-left">Create</button>
                                            <input type="button" Value="Cancel" class="btn btn-grey pull-right" onclick="location.href='@Url.Action()'">
                                        </div>
                                    </div>
                                }


                            </form>
                        </div>
                    </div>
                    <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->

                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->

</div>