﻿@model EdukiteService.Business.Entities.ExamPaperModel
@{
    ViewBag.Title = "AddPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    @if (ViewBag.lstmodelTopics != null)
                    {
                        <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                            @Html.Partial("_GetPaperList", (IEnumerable<EdukiteService.Business.Entities.ExamPaperModel>)ViewBag.lstmodelTopics)
                        </div>
                    }

                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <!-- <a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Add Paper</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form  role="form" action="/ExamPapers/CreatePaper" id="AddPaperForm" method="post">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                       
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">PaperNo</label>
                                            @* <input type="text" class="form-control height-75" id="exampleInputEmail1">*@
                                            @Html.EditorFor(model => model.PaperNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PaperNo, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">PaperName</label>
                                            @*  <input type="text" class="form-control" id="exampleInputEmail1">*@
                                            @Html.EditorFor(model => model.PaperName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PaperName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Year</label>
                                            @Html.DropDownList("ExamYearid", new SelectList((System.Collections.IEnumerable)ViewData["ExamYear"], "Value", "Text"), new { onchange = "id(this)", @class = "form-control text-box single-line" })
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">GradeId</label>
                                            @Html.DropDownList("GradeId", new SelectList((System.Collections.IEnumerable)ViewData["Grade"], "Value", "Text"), new { onchange = "gradeid(this)", @class = "form-control text-box single-line" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Subject</label>
                                            @Html.DropDownList("SubjectId", new SelectList((System.Collections.IEnumerable)ViewData["Subject"], "Value", "Text"), new { onchange = "subjectid(this)", @class = "form-control text-box single-line" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">ExamType</label>
                                            @Html.DropDownList("ExamTypeid", new SelectList((System.Collections.IEnumerable)ViewData["ExamType"], "Value", "Text"), new { onchange = "id(this)", @class = "form-control text-box single-line" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Instruction</label>
                                            @* <input type="text" class="form-control height-75" id="exampleInputEmail1">*@
                                            @Html.EditorFor(model => model.Instruction, new { htmlAttributes = new { @class = "form-control text-box multi-line" } })
                                            @Html.ValidationMessageFor(model => model.PaperNo, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                        <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                                <button type="submit" value="Create" class="btn btn-grey pull-left">Create</button>
                                                <input type="button" Value="Cancel" class="btn btn-grey pull-right" onclick="location.href='@Url.Action("PaperList","ExamPapers")'">
                                            </div>
                                        </div>
                                    }


                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->

</div>
