﻿@model EdukiteService.Business.Entities.ExamAssetModel
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" id="addScreen">
    <div class="container" id="container">
        <div class="row" id="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">
                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                        @*@Html.Partial("~/Views/SubTopics/_GetSubTopics.cshtml", (EdukiteService.Business.Entities.ProvinceModel)ViewBag.SubTopicAssetData)*@
                    </div>
                    @*<form role="form" action="~/ExamPapers/CreateQustionAsync" id="CreateQustionAsync" method="post">*@
                    @using (Html.BeginForm("CreateQustionAsync", "ExamPapers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12" style="text-align:right">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Subject*
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("SubjectId", new SelectList((System.Collections.IEnumerable)ViewData["Subject"], "Value", "Text"), new { onchange = "sunjectid(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Grade*
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("Gradeid", new SelectList((System.Collections.IEnumerable)ViewData["Grade"], "Value", "Text"), new { onchange = "gradeid(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Year No*
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Yearno, new { htmlAttributes = new { @type = "text", @id = "YearNo", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.Yearno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Year*
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @type = "text", @id = "Year", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Paper Name *
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("ExamPaper", new SelectList((System.Collections.IEnumerable)ViewData["ExamPaper"], "Value", "Text"), new { onchange = "PaperId(this)", @class = "form-control text-box single-line" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Question No *
                                    </div>
                                    <div class="col-md-9">
                                        @*<select class="form-control"></select>*@
                                        @Html.EditorFor(model => model.QuestionNo, new { htmlAttributes = new { @type = "text", @id = "QuestionNo", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.QuestionNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Asset ID *
                                    </div>
                                    <div class="col-md-9">
                                        @*<input type="text" class="form-control text-box single-line" />*@
                                        @Html.EditorFor(model => model.QuestionAssetID, new { htmlAttributes = new { @type = "text", @id = "Asset Id", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.QuestionAssetID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Asset Name*
                                    </div>
                                    <div class="col-md-9">
                                        @*<select class="form-control" id="ddlprovince"></select>*@
                                        @Html.EditorFor(model => model.QuestionAssetName, new { htmlAttributes = new { @type = "text", @id = "Asset Name", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.QuestionAssetName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Asset Type
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("AssetType", new SelectList((System.Collections.IEnumerable)ViewData["AssetType"], "Value", "Text"), new { onchange = "AssetTypeId(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                @*<div class="row">
                                        <div class="col-md-3" style="padding-top:15px;">
                                            Question No *
                                        </div>
                                        <div class="col-md-9">
                                            @*<select class="form-control"></select>*
                                            @Html.EditorFor(model => model.QuestionNo, new { htmlAttributes = new { @type = "text", @id = "QuestionNo", @class = "form-control text-box single-line" } })
                                            @Html.ValidationMessageFor(model => model.QuestionNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;margin-top:10px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Solution Asset ID*
                                    </div>
                                    <div class="col-md-9">
                                        @*<select class="form-control" id="ddlprovince"></select>*@
                                        @Html.EditorFor(model => model.SoluctionAssetID, new { htmlAttributes = new { @type = "text", @id = "Asset Name", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.QuestionAssetName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Solution Type
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("SoluctionAssetType", new SelectList((System.Collections.IEnumerable)ViewData["AssetType"], "Value", "Text"), new { onchange = "AssetTypeId(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;margin-top:10px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Soluction Active Duration
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.SoluctionActiveDuration, new { htmlAttributes = new { @type = "text", @id = "SAdurition", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.SoluctionActiveDuration, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Solution Length
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.SoluctionLenth, new { htmlAttributes = new { @type = "text", @id = "SAdurition", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.SoluctionLenth, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;margin-top:10px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Folder Name
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Foldername, new { htmlAttributes = new { @type = "text", @id = "txtfoldername", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.Foldername, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Version
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Verson, new { htmlAttributes = new { @type = "text", @id = "Verson", @class = "form-control text-box single-line" } })
                                        @Html.ValidationMessageFor(model => model.Verson, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Topic 1 * :
                                    </div>
                                    <div class="col-md-9" id="tid">
                                        @*<select class="form-control text-box single-line"></select>*@
                                        @Html.DropDownList("Topic1", new SelectList((System.Collections.IEnumerable)ViewData["Topic"], "Value", "Text"), "None", new { onchange = "topicid(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Topic 2*:
                                    </div>
                                    <div class="col-md-9">
                                        @*<select class="form-control text-box single-line"></select>*@
                                        @Html.DropDownList("Topic2", new SelectList((System.Collections.IEnumerable)ViewData["Topic"], "Value", "Text"), "None", new { onchange = "topicid(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:right;padding-top:20px;padding-bottom:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Topic 3:*
                                    </div>
                                    <div class="col-md-9">
                                        @*<select class="form-control text-box single-line"></select>*@
                                        @Html.DropDownList("Topic3", new SelectList((System.Collections.IEnumerable)ViewData["Topic"], "Value", "Text"), "None", new { onchange = "topicid(this)", @class = "form-control text-box single-line", @style = "size:100px" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3" style="padding-top:15px;">
                                        Topic 4:
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownList("Topic4", new SelectList((System.Collections.IEnumerable)ViewData["Topic"], "Value", "Text"), "None", new { onchange = "topicid(this)", @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group image-upload-container file-upload-box">

                            <div class="form-group no-padding-left no-padding-right col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                <label for="exampleInputPassword1">Files *</label>

                                <div class="file-upload-box-top">
                                    <label class="reso-label" for="imageHigh">Asset File</label>
                                    <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                        <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                            @Html.TextBoxFor(model => model.PostedQuestionFilename, new { type = "file", id = "customFileHigh", accept = "files/*", htmlAttributes = new { @class = "custom-file-input" } })
                                            <label id="lblChooseFile" class="custom-file-label" for="customFileHigh">Choose file</label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PostedQuestionFilename, "", new { @class = "text-danger" })
                                        <label id="customFileHighName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                        <button type="button" class="highFileButton" id="btncustomFileHighName">Remove</button>

                                    </div>
                                    <span id="customFile1Size" class="sub-label"></span>
                                </div>

                                <div class="file-upload-box-top">
                                    <label class="reso-label" for="imageHigh">Soluction File</label>
                                    <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                        <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                            @Html.TextBoxFor(model => model.PostedSoluctionFilename, new { type = "file", id = "customFileMedium", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                            <label id="lblMediumChooseFile" class="custom-file-label" for="customFileMedium">Choose file</label>
                                        </div>
                                        @*@Html.TextBoxFor(model => model.PostedFileMedium, new { type = "file", id = "customFileMedium", accept = "video/mp4" })*@
                                        @Html.ValidationMessageFor(model => model.PostedSoluctionFilename, "", new { @class = "text-danger" })
                                        <label id="customFileMediumName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                        <button type="button" class="highFileButton" id="btncustomFileMediumName">Remove</button>
                                    </div>
                                    <span id="customFile2Size" class="sub-label"></span>
                                </div>

                            </div>

                            <div class="form-group file-upload-box-right-container no-padding-right-respo no-padding-left-respo col-lg-4 col-sm-6 col-md-4 col-xs-12">
                                <label for="exampleInputEmail1">Thumbnail</label>

                                <div class="file-upload-box-top">
                                    <div class="custom-file col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        @*@Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail" })*@

                                        @*<div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">*@
                                        @Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail", htmlAttributes = new { @class = "custom-file-input" } })
                                        <label id="lblThumbnailChooseFile" class="custom-file-label" for="customThumbNail">Choose file</label>
                                        @*</div>*@

                                        <label id="customThumbNailName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                        <button type="button" class="highFileButton" id="btncustomFileThumbNailName">Remove</button>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    @Html.ValidationMessageFor(model => model.PostedFileThumbnail, "", new { @class = "text-danger" })
                                </div>

                                <div class="no-padding-left col-lg-8 col-sm-6 col-md-6 col-xs-6">
                                    <br />
                                    <div class="uploaded-file-thumbnail-box">
                                        <img id="image_upload_preview" />
                                    </div>
                                    <span id="customThumbNailSize" class="sub-label"></span>
                                </div>

                            </div>

                            <div class="box-footer-inner display-inline-block  margin-0-auto col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <input id="uploadForm" value="Upload" type="button" class="btn btn-grey" />
                                <label id="errorUploadMsg" class="text-danger"></label>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:right;padding-top:20px">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-9" style="padding-top:15px;">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" id="Save" onclick="" value="Save" class="form-control text-box single-line" style="border:0;color:white;background-color:#666666" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                <div class="row">

                                    <div class="col-md-3">
                                        <input type="button" value="Cancle" onclick="" class="form-control text-box single-line" style="border:0;color:white;background-color:#666666" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    @*</form>*@
                </div>


            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

    <script>
        $(document).ready(function () {
            $("#customFileHighName").hide();
            $("#btncustomFileHighName").hide();
            $("#customFileMediumName").hide();
            $("#btncustomFileMediumName").hide();
            //$("#customFileLowName").hide();
            //$("#btncustomFileLowName").hide();
            $("#customThumbNailName").hide();
            $("#btncustomFileThumbNailName").hide();
            $("#errorUploadMsg").text("");

            $("#btnMoreSave").attr("disabled", true);


            $("#uploadForm").click(function () {

                var IsAllowedTouploadHigh = false;
                var IsAllowedTouploadMedium = false;
                //var IsAllowedTouploadlow = false;
                debugger;
                if ($("#customFileHigh")[0].files[0] != undefined && $("#customFileHigh")[0].files[0].name.split('.').pop() == "json") {

                    $("#lblChooseFile").hide();
                    $("#customFileHigh").hide();
                    $("#customFileHighName").text($("#customFileHigh")[0].files[0].name);
                    $("#customFileHighName").show();
                    $("#btncustomFileHighName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadHigh = true;
                }
                else {
                    //$("#errorUploadMsg").text("Only json files allowed.");
                    //return false;
                }
                if ($("#customFileMedium")[0].files[0] != undefined && $("#customFileMedium")[0].files[0].name.split('.').pop() == "mp4") {
                    $("#lblMediumChooseFile").hide();
                    $("#customFileMedium").hide();
                    $("#customFileMediumName").text($("#customFileMedium")[0].files[0].name);
                    $("#customFileMediumName").show();
                    $("#btncustomFileMediumName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadMedium = true;
                }
                else {
                    //$("#errorUploadMsg").text("Only mp4 files allowed.");
                    //return false;
                }
                if ($("#customThumbNail")[0].files[0] != undefined && ($("#customThumbNail")[0].files[0].name.split('.').pop() == "jpg" || $("#customThumbNail")[0].files[0].name.split('.').pop() == "png")) {
                    $("#lblThumbnailChooseFile").hide();
                    $("#customThumbNail").hide();
                    $("#customThumbNailName").text($("#customThumbNail")[0].files[0].name);
                    $("#customThumbNailName").show();
                    $("#btncustomFileThumbNailName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadThumbanail = true;
                }
                else {
                    $("#errorUploadMsg").text("Only png/jpg files allowed.");
                    return false;
                }

                if ((IsAllowedTouploadHigh === true || IsAllowedTouploadMedium === true) && IsAllowedTouploadThumbanail === true) {
                    $("#btnMoreSave").attr("disabled", false);
                }
                else {
                    return false;
                }


            });

            $("#btncustomFileHighName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblChooseFile").show();
                $("#lblChooseFile").text("Choose file");
                $("#customFileHigh").show();
                $("#customFileHigh").val("");
                $("#customFile1Size").text("");
                $("#customFileHighName").hide();
                $("#btncustomFileHighName").hide();
                IsAllowedTouploadHigh = false;
            });

            $("#btncustomFileMediumName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblMediumChooseFile").show();
                $("#lblMediumChooseFile").text("Choose file");
                $("#customFileMedium").show();
                $("#customFileMedium").val("");
                $("#customFile2Size").text("");
                $("#customFileMediumName").hide();
                $("#btncustomFileMediumName").hide();
                IsAllowedTouploadMedium = false;
            });

            $("#btncustomFileThumbNailName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblThumbnailChooseFile").show();
                $("#lblThumbnailChooseFile").text("Choose file");
                $("#customThumbNail").show();
                $("#customThumbNail").val("");
                $("#customThumbNailSize").text("");
                $('#image_upload_preview').attr('src', "");
                $("#customThumbNailName").hide();
                $("#btncustomFileThumbNailName").hide();
                IsAllowedTouploadThumbanail = false;
            });


            //$("#moreScreen").hide();
            //$("#addScreen").show();
        })




        $("#customFileHigh").on("change", function (e) {
            debugger;
            fileHigh = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblChooseFile").text(fileHigh.name);
                $("#customFile1Size").text(customFileSizeMB);
            } else {
                $("#lblChooseFile").text("Choose file");
                $("#customFile1Size").text("");
            }
        });

        $("#customFileMedium").on("change", function (e) {
            fileMedium = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblMediumChooseFile").text(fileMedium.name);
                $("#customFile2Size").text(customFileSizeMB);
            }
            else {
                $("#lblMediumChooseFile").text("Choose file");
                $("#customFile2Size").text("");
            }
        });
        $("#customFileLow").on("change", function (e) {
            fileLow = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblLowChooseFile").text(fileLow.name);
                $("#customFile3Size").text(customFileSizeMB);
            } else {
                $("#lblLowChooseFile").text("Choose file");
                $("#customFile3Size").text("");
            }
        });

        $("#customThumbNail").on("change", function (e) {
            fileThumbnail = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblThumbnailChooseFile").text(fileThumbnail.name);
                $("#customThumbNailSize").text(customFileSizeMB);
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
            } else {
                $('#image_upload_preview').removeAttr("src");
                $("#lblThumbnailChooseFile").text("Choose file");
                $("#customThumbNailSize").text("");
            }
        });



        // trigger upload on space & enter
        // = standard button functionality
        $('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
            if (e.which === 32 || e.which === 13) {
                e.preventDefault();
                $('#fileupload').click();
            }
        });

        // return chosen filename to additional input
        $('#fileupload').change(function (e) {
            var filename = $('#fileupload').val().split('\\').pop();
            $('#filename').val(filename);
            $('#filename').attr('placeholder', filename);
            $('#filename').focus();
        });

        $('.list-group-sortable').sortable({
            placeholderClass: 'list-group-item'
        });

        $(document).ready(function () {

            $('.differentClass').addClass($('.firstClass').attr('class'));

            $('select').niceSelect();

            $('.custom-file-input').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });
        });


        // trigger upload on space & enter
        // = standard button functionality
        $('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
            if (e.which === 32 || e.which === 13) {
                e.preventDefault();
                $('#fileupload').click();
            }
        });

        // return chosen filename to additional input
        $('#fileupload').change(function (e) {
            var filename = $('#fileupload').val().split('\\').pop();
            $('#filename').val(filename);
            $('#filename').attr('placeholder', filename);
            $('#filename').focus();
        });
    </script>
}
