﻿
@{
    ViewBag.Title = "GetOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:100px">

    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">

        @Html.Partial("_GetOptionsList", (IEnumerable<EdukiteService.Business.Entities.ExamPaperQuestionOptionModel>)ViewBag.lstmodeloptions)
    </div>


    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">

        <input type="button" style="width:50%;white-space: normal;" Value="Add Option" class="btn btn-grey btn-centered uppercase padd-left-right-35" onclick="location.href='@Url.Action("AddOption","ExamPapers")'">

    </div>


</div>
