﻿
@{
    ViewBag.Title = "PaperList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:100px">


    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">
        @Html.Partial("_GetPaperList", (IEnumerable<EdukiteService.Business.Entities.ExamPaperModel>)ViewBag.lstmodelTopics)
    </div>


    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">

        <input type="button" style="width:50%;white-space: normal;" Value="AddPaper" class="btn btn-grey btn-centered uppercase padd-left-right-35" onclick="location.href='@Url.Action("AddPaper","ExamPapers")'">

    </div>


</div>
