/*
 *   Author: Blue leaf intech
 */

.eduk-main-body-container.backend-main-body-container {
    font-family: sans-serif;
    color: #f2f2f2;
}

    .eduk-main-body-container.backend-main-body-container .content-wrapper {
        background-color: #333;
        background-image: url('../img/middle-content-container-bg.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8%;
        display: inline-block;
        width: 100%;
        margin-top: -5px;
    }

.skin-blue.eduk-main-body-container.backend-main-body-container .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #fff;
}



.eduk-main-body-container.backend-main-body-container .main-header.dark-header {
    background: #4d4d4d;
    color: #f2f2f2;
}

@media (min-width: 992px) {
    .backend-main-body-container .content-wrapper .container {
        padding: 0;
    }

        .backend-main-body-container .content-wrapper .container .subject-box > .col-md-6 {
            padding: 0;
        }
}

@media (min-width: 1300px) {
    .container.header-conainer {
        width: 1336px;
    }
}

/*
.eduk-main-body-container.backend-main-body-container .main-header.red-header{
    background: #e22910;
}

.eduk-main-body-container.backend-main-body-container .main-header.blue-header{
    background: #0295ce;
} 

.eduk-main-body-container.backend-main-body-container .main-header.orange-header{
    background: #f7931e;
} 
 */

.eduk-main-body-container.backend-main-body-container .sub-nav-container {
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
}

    .eduk-main-body-container.backend-main-body-container .sub-nav-container.sub-nav-container-red {
        background: #f7aba6;
    }

    .eduk-main-body-container.backend-main-body-container .sub-nav-container.sub-nav-container-blue {
        background: #5cdcff;
    }

    .eduk-main-body-container.backend-main-body-container .sub-nav-container.sub-nav-container-orange {
        background: #fbb03b;
    }

.eduk-main-body-container.skin-blue.backend-main-body-container .main-header .logo {
    background: none;
    color: #fff;
    width: auto;
    padding: 0;
}

@media (min-width: 992px) {

    .eduk-main-body-container.skin-blue.backend-main-body-container .main-header .logo.col-md-3 {
        /*width: 25%;*/
    }
}

@media (min-width: 1225px) {
    .eduk-main-body-container.backend-main-body-container .profile-left {
        margin-right: 100px;
    }
}

@media (min-width: 1025px) {


    .eduk-main-body-container.backend-main-body-container .profile-left {
        /* margin-right: 100px;*/
        margin-top: 75px;
    }

    .eduk-main-body-container.backend-main-body-container .main-header.dark-header {
        /*padding: 2rem 0 0 0;*/
        padding: 2rem 0 1rem 0;
    }
}



@media (max-width: 1024px) and (min-width: 912px) {

    .eduk-main-body-container.backend-main-body-container .profile-left {
        margin-right: 0;
        margin-top: 120px;
    }
}


.eduk-main-body-container.skin-blue.backend-main-body-container .main-header .logo img {
    width: auto;
}

@media (min-width: 1200px) {

    /*
.eduk-main-body-container.backend-main-body-container .backend-header-left > .col-lg-2 {
    width: 17.666667%;
}
*/
}

@media (max-width: 811px) {
    .eduk-main-body-container.backend-main-body-container .backend-header-left > .col-xs-12 {
        margin: 0 auto;
        display: inline-flex;
    }
}


@media (min-width: 1024px) {
    /*.eduk-main-body-container.skin-blue.backend-main-body-container  .main-header .navbar {
    display: inline-flex;
}*/

    .eduk-main-body-container.backend-main-body-container .main-header .navbar-custom-menu, .eduk-main-body-container.backend-main-body-container .main-header .navbar-right {
        /*margin: 0 auto;*/
    }
}


.eduk-main-body-container.skin-blue.backend-main-body-container .main-header .navbar {
    background: none;
}

.backend-header-left .backend-header-left-text {
    /*display: table;*/
    text-align: center;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 768px) {
    .backend-header-left .backend-header-left-text {
        display: table;
        margin-bottom: 20px;
    }

    .eduk-main-body-container.backend-main-body-container .header-middle-text,
    .eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner {
        /*   width: 50%;*/
        display: inline-block;
        text-align: left;
    }

    .backend-main-body-container .header-middle-text div > span {
        text-align: left;
    }

    . /*eduk-main-body-container.backend-main-body-container .profile-container {
    width: 50%;
	float: right;
	text-align: right;
}*/
    .eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner span {
        text-align: left;
    }

    .eduk-main-body-container.backend-main-body-container div.profile-left {
        margin-top: 10px;
    }
}


.backend-header-left .backend-header-left-text-left {
    float: left;
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    margin-right: 15px;
    line-height: normal;
}

.backend-header-left .backend-header-left-text-right {
    /*float: left;*/
    margin-top: 5px;
    text-align: left;
    /*width: 323px;*/
}

@media (min-width: 768px) {
    .backend-header-left .backend-header-left-text-right {
        width: 323px;
    }
}

.backend-header-left .backend-header-left-text-right .user {
    /*color: #000;*/
    /*font-size: 13px;*/
    font-size: 22px;
    /*font-weight: bold;*/
}

.backend-header-left .backend-header-left-text-right .sing-out {
    display: inline-block;
    margin-top: 5px;
}

    .backend-header-left .backend-header-left-text-right .sing-out a {
        font-size: 20px;
        color: #f2f2f2;
        border-bottom: 4px solid #333333;
    }


/*.eduk-main-body-container.backend-main-body-container .header-middle-text .direct-chat-text {
    width: auto;
}*/

.eduk-main-body-container.backend-main-body-container .header-middle-text {
    z-index: 9999;
}

    .eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner {
        font-size: 3em;
        font-weight: bold;
        color: #f2f2f2;
        text-transform: uppercase;
    }

        .eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner span {
            font-size: 36px;
            display: inline-block;
            font-weight: normal;
            color: #f2f2f2;
            text-transform: none;
            line-height: initial;
        }

.eduk-main-body-container.backend-main-body-container .profile-left {
    /*display: inline-block;
    float: right;*/
    /*width: 162px;*/
    width: auto;
}

.eduk-main-body-container.backend-main-body-container .main-header .navbar-custom-menu,
.eduk-main-body-container.backend-main-body-container .main-header .navbar-right {
    z-index: 99999;
    position: relative;
    color: #fff;
}

.eduk-main-body-container.backend-main-body-container .profile-left a.home-btn {
    display: inline-block;
    width: auto;
    color: #fff;
    background: url("../img/home-icon.png") no-repeat;
    font-size: 13px;
    padding: 32px 5px 0 5px;
    text-align: center;
    background-position: center top;
    float: left;
}

.eduk-main-body-container.backend-main-body-container .profile-left a.logout-btn {
    display: inline-block;
    width: auto;
    color: #fff;
    background: url("../img/exit-icon.png") no-repeat;
    font-size: 13px;
    padding: 32px 12px 0 5px;
    text-align: center;
    background-position: -4px 0px;
    float: left;
    margin-left: 25px;
}

@media (max-width: 1024px) {
    .eduk-main-body-container.backend-main-body-container .col-lg-8.header-middle-text {
        margin-top: 0;
    }
}


@media (min-width: 1025px) {
    .backend-middle-main-container .row {
        max-width: 90%;
    }
}


.backend-middle-main-container .row {
    /*max-width: 1600px;*/
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.backend-middle-main-container-inner {
    padding: 50px 0 25px 0;
    display: inline-block;
    width: 100%;
}

    .backend-middle-main-container-inner .padding-top {
        padding-top: 25px;
    }


.form-container a.publish-btn {
    background-image: url("../img/publish-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 25px;
    display: inline-block;
}

.form-container .no-border {
    border: 0 !important;
}


@media (min-width: 1367px) {
    /*.backend-middle-main-container-inner .small-box {
		width: 150px;
	}*/
}


.backend-middle-main-container-inner .small-box {
    text-align: center;
    color: #000;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.bg-light-grey {
    background-color: #f2f2f2 !important;
}


.backend-middle-main-container-inner .small-box h3 {
    font-size: 22px;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.backend-middle-main-container-inner .small-box p {
    font-size: 42px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.backend-middle-main-container-inner .small-box > .inner {
    /*padding-bottom: 0;*/
    padding: 10px 5px;
}




.backend-middle-main-container-inner .small-box > .edit-asset.publish-btn {
    background-image: url('../img/publish-icon.png');
    right: 5px;
    top: 5px;
}

.backend-middle-main-container-inner .small-box > .edit-asset.republish-btn {
    background-image: url('../img/republish.png');
    right: 5px;
    top: 5px;
}

.backend-middle-main-container-inner .small-box > .edit-asset.edit-btn {
    background-image: url('../img/edit_asset.png');
    right: 5px;
    bottom: 5px;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.backend-middle-main-container-inner .small-box > .edit-asset {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 10;
}

.backend-middle-main-container-inner .small-box > .small-box-footer {
    background-image: url('../img/edit_asset.png');
    background-position: bottom right;
    background-size: 22px;
    background-repeat: no-repeat;
    background-color: inherit;
    padding: 12px 0;
    /*float: right;
    width: 24px;
    height: 20px;*/
}

.delete-btn {
    background-image: url('../img/delete.png');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px;
    right: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    z-index: 999999;
}

.btn {
    background-color: #666666;
    border-color: #666666;
    font-size: 30px;
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    font-size: 24px;
    min-width: 100px;
}

.eduk-main-body-container.backend-main-body-container .modal-dialog p {
    color: #000;
    text-align: left;
}

.float-none {
    float: none !important;
}

.margin-0-auto {
    margin: 0 auto !important;
    float: none;
}

.subject-box .small-box h3 {
    font-size: 42px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.subject-box .small-box .subject-box-inner {
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.subject-box .small-box .subject-box-inner-top {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.subject-box .small-box .subject-box-inner-bottom {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}


    .subject-box .small-box .subject-box-inner-bottom .sub-color-name {
        display: inline-block;
        width: 100%;
        padding-bottom: 7px;
        text-align: left;
    }

    .subject-box .small-box .subject-box-inner-bottom .sub-color-bar {
        display: inline-block;
        width: 100%;
        height: 8px;
        border: 1px solid #000;
        position: absolute;
        left: 0;
        bottom: 0;
    }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.blue-bar {
            background-color: #12a7db;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.green-bar {
            background-color: #52b254;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.purple-bar {
            background-color: #7757bc;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.yellow-bar {
            background-color: #ffb300;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.orange-bar {
            background-color: #f94623;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.teal-bar {
            background-color: #2ea9af;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.dark-yellow-bar {
            background-color: #ff9e3e;
        }

        .subject-box .small-box .subject-box-inner-bottom .sub-color-bar.dark-blue-bar {
            background-color: #3669ce;
        }

.subject-box .small-box .subject-box-inner-bottom-left {
    float: left;
    width: 40%;
}

.subject-box .small-box .subject-box-inner-bottom-right {
    float: left;
    width: auto;
    position: relative;
    width: 60%;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

@media (min-width: 1200px) {

    .backend-middle-main-container-inner .col-lg-5 {
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .backend-main-body-container .form-container {
        display: block;
        min-height: 350px;
        width: 100%;
    }

    .eduk-main-body-container div.form-container .btn-grey.btn-centered {
        display: block;
        margin: 30% auto;
    }
}

.eduk-main-body-container.backend-main-body-container section.content {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}

.eduk-main-body-container .form-container .btn-grey.btn-centered {
    display: block;
    margin: 0 auto;
}

.eduk-main-body-container .form-container .btn-grey.padd-left-right-35 {
    padding: 0 35px;
}


@media (min-width: 768px) {
    .verticle-separate {
        border-style: dashed;
        border-width: thin;
        padding: 0 10px 0 0;
        border-right: dashed 3px #999999;
        border-left: none;
        border-top: none;
        border-bottom: none;
        /* border-image-source: url(http://i.stack.imgur.com/wLdVc.png); */
        border-image-slice: 1;
        border-image-repeat: round;
        border-radius: 10px;
        /* border-image-source: url(http://i.stack.imgur.com/LKclP.png);*/
        border-image: url(../img/border-grey.png) 2 round;
    }
}

@media (max-width: 737px) {
    .horizontal-separate {
        border-style: dashed;
        border-width: thin;
        padding: 10px;
        border-bottom: dashed 3px #999999;
        border-left: none;
        border-top: none;
        border-right: none;
        /* border-image-source: url(http://i.stack.imgur.com/wLdVc.png); */
        border-image-slice: 1;
        border-image-repeat: round;
        border-radius: 10px;
        /* border-image-source: url(http://i.stack.imgur.com/LKclP.png);*/
        border-image: url(../img/border-grey.png) 2 round;
    }
}


.form-container form {
    border-style: dashed;
    border-width: thin;
    padding: 10px;
    border: dashed 3px #999999;
    /* border-image-source: url(http://i.stack.imgur.com/wLdVc.png); */
    border-image-slice: 1;
    border-image-repeat: round;
    border-radius: 10px;
    /* border-image-source: url(http://i.stack.imgur.com/LKclP.png);*/
    /*border-image: url(http://i.stack.imgur.com/wLdVc.png) 2 round;*/
    border-image: url('../img/round-border-corner.png') 2 round;
}

.form-container .box {
    position: relative;
    border-radius: 10px;
    padding: 0;
    border-top: none;
    background: none;
    /*margin-bottom: 20px;
    margin-top: 10px;*/
    width: 100%;
    box-shadow: none;
}

.form-container .box-header {
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
}

.form-container .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
    /*padding: 10px;*/
    padding: 10px 0 20px 0;
    background-color: inherit;
    text-align: center;
    display: flex;
}

    .form-container .box-footer .box-footer-inner {
        margin: 0 auto;
        padding: 0;
    }

.eduk-main-body-container .form-container label {
    font-size: 22px;
}

.eduk-main-body-container .form-container .form-control.height-75 {
    height: 75px;
}

.eduk-main-body-container .form-container .box-header .box-title {
    font-size: 3em;
    text-transform: uppercase;
    color: #999999;
}

.eduk-main-body-container .form-container .help-block {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #737373;
}

.eduk-main-body-container .form-container .btn {
    font-size: 30px;
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
}

.eduk-main-body-container .form-container .input-group {
    width: 100%;
}

    .eduk-main-body-container .form-container .input-group.input-file:after {
        content: "";
        background-image: url('../img/upload-icon.png');
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 28px;
        right: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        z-index: 999999;
    }

.eduk-main-body-container .form-container.form-group-width .form-group {
    display: inline-block;
    width: 100%;
}

/*.eduk-main-body-container .form-container .btn:first-child {
	margin-right: 20%;
}*/

.eduk-main-body-container .form-container .btn-grey {
    background-color: #666666;
    border-color: #666666;
}

@media (min-width: 768px) {

    /*	.backend-middle-main-container-inner .col-xs-12 .col-xs-6 {
		width: 25%;
	}*/
}

.backend-middle-main-container > .col-md-12 {
    padding: 0;
}

.qst-container {
    background: #ffe8e6;
    padding: 20px 0;
    margin-top: -5px;
}

    .qst-container.qst-container-red {
        background: #ffe8e6;
    }

    .qst-container.qst-container-blue {
        background: #c5f7ff;
    }

    .qst-container.qst-container-orange {
        background: #ffe9d7;
    }

.sub-nav-container {
    display: inline-block;
    width: 100%;
}

    .sub-nav-container .sub-nav-container-left {
        float: left;
        width: auto;
    }

    .sub-nav-container .sub-nav-container-right {
        float: right;
        width: auto;
    }


.backend-middle-main-container .bg-light-red {
    background-color: #d33924 !important;
}

.backend-middle-main-container .bg-light-blue {
    background-color: #0295ce !important;
}

.backend-middle-main-container .bg-light-orange {
    background-color: #f7931e !important;
}


.backend-middle-main-container .badge.bg-light-circle {
    display: inline-block;
    min-width: 10px;
    padding: 12px 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 30px;
}

@media (max-width: 420px) {
    .sub-nav-container .sub-nav-container-right {
        float: left;
    }

    .qst-container {
        width: 100%;
        overflow-x: auto;
        width: 100%;
        /* display: block; */
        position: relative;
    }

        .qst-container .row {
            display: inline-flex;
            min-width: 450px;
        }
}

.number-container {
    float: left;
    margin-right: 30px;
}

@media (min-width: 1024px) {
    .exp-ans-container {
        float: left;
        /*min-width: 320px;*/
    }
}

.exp-ans-container {
    float: left;
}

.qst-container .exp-ans-container-left {
    display: inline-block;
    /*font-size: 24px*/
    font-size: 2rem;
    margin-right: 15px;
}

.qst-container .exp-ans-container-left {
    font-weight: 600;
}

@media (min-width: 640px) {
    .qst-container .exp-ans-container-left {
        padding: 10px 0;
    }
}

.qst-container .exp-ans-container-right {
    display: inline-block;
}

.ans-container ul {
    /*width: 100%;*/
    /*display: inline-flex;*/
    float: left;
    padding-left: 0;
}

    .ans-container ul li {
        list-style: none;
        padding: 25px 25px 25px 0;
        display: inline-block;
        min-width: 300px;
    }

@media (max-width: 700px) {
    .ans-container ul li {
        width: 100%;
    }
}

.ans-container ul li .exp-ans-container-right {
    font-size: 2rem;
    line-height: 2em;
}

.backend-middle-main-container .badge.bg-light-white {
    display: inline-block;
    min-width: 10px;
    padding: 13px 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #000;
}

.timer-clock {
    font-size: 20px;
    padding: 5px;
    color: #fff;
    background-color: #333333;
    border: 2px solid #666666;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
    -webkit-box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
    -moz-box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
}

.eduk-main-body-container.backend-main-body-container .main-footer {
    background: #e6e6e6;
    padding: 0;
    color: #444;
    border-top: none;
    display: inline-block;
    width: 100%;
}

    .eduk-main-body-container.backend-main-body-container .main-footer > .col-lg-2 {
        background-color: #cccccc;
        padding: 15px 20px;
    }

    .eduk-main-body-container.backend-main-body-container .main-footer > .col-lg-3 {
        background-color: #cccccc;
        padding: 15px 20px;
    }

    .eduk-main-body-container.backend-main-body-container .main-footer > .col-md-4 > .timer-container {
        background-color: #cccccc;
        padding: 15px 0 15px 20px;
        display: inline-block;
        float: left;
    }

@media (max-width: 1024px) {
    .eduk-main-body-container.backend-main-body-container .main-footer > .col-md-4 {
        background-color: #cccccc;
    }

        .eduk-main-body-container.backend-main-body-container .main-footer > .col-md-4 > .timer-container {
            float: none;
        }
}

@media (min-width: 1200px) {
    .eduk-main-body-container.backend-main-body-container .main-footer > .col-lg-4 {
        padding: 0;
    }
}

.timer-container .timer-container-left {
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
}

.timer-container .timer-container-right {
    display: inline-block;
}

    .timer-container .timer-container-right img {
        margin-right: 15px;
    }


.eduk-main-body-container.backend-main-body-container .main-footer .pagination-sm > li:first-child > a,
.eduk-main-body-container.backend-main-body-container .main-footer .pagination-sm > li:last-child > a {
    border: none;
}

.eduk-main-body-container.backend-main-body-container .main-footer .pagination-sm > li > a,
.eduk-main-body-container.backend-main-body-container .main-footer .pagination-sm > li > span {
    padding: 8px 16px;
    font-size: 18px;
    line-height: 1.5;
}

.eduk-main-body-container.backend-main-body-container .main-footer .col-lg-9.header-middle-text {
    padding: 6px 0 0 0;
}

.eduk-main-body-container.backend-main-body-container .main-footer .pagination > li > a {
    background: none;
    color: #000;
    border: 1px solid #fff;
    font-weight: bold;
}

.eduk-main-body-container.backend-main-body-container .main-footer .pagination > li.active > a {
    background: #fff;
}

.eduk-main-body-container.backend-main-body-container .main-footer .pagination .prev-blank a {
    color: #cccccc;
}

.eduk-main-body-container.backend-main-body-container .main-footer .btn-container {
    /*padding: 13px 0 4px 0;*/
    padding: 13px 20px 0px 0;
    background: none;
}

    .eduk-main-body-container.backend-main-body-container .main-footer .btn-container .btn.btn-flat {
        width: 120px;
        /*margin-top: 5px;*/
        float: none;
        margin: 0 auto 5px auto;
        /*text-align: right;*/
        padding: 3px 0;
        /*float: right;*/
        box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
        -webkit-box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
        -moz-box-shadow: 2px 2px 3px -1px rgba(97,97,97,1);
    }

.eduk-main-body-container.backend-main-body-container .main-footer .pagination {
    display: inline-flex;
    padding-left: 0;
    /* margin: 20px 0; */
    /*max-width: 350px;*/
    max-width: 100%;
    overflow-x: auto;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    border-radius: 4px;
    margin: 7px auto 0 auto;
}

@media (min-width: 1200px) {
    .eduk-main-body-container.backend-main-body-container .main-footer > .col-lg-9 > .col-lg-9 {
        /* width: 75%;*/
        margin: 0 auto;
        display: inline-flex;
    }
}


@media (min-width: 768px) {
    .eduk-main-body-container.backend-main-body-container .modal-dialog {
        top: 30%;
        width: 500px;
    }

    .eduk-main-body-container.backend-main-body-container .modal-content {
        border-radius: 10px;
        border: 2px solid #d3d2d2;
    }
}

.eduk-main-body-container.backend-main-body-container .modal-content {
    padding: 4% 8% 4% 8%;
}


.eduk-main-body-container.backend-main-body-container .modal-dialog .modal-body {
    font-size: 24px;
    text-align: center;
    padding: 15px 0 0 0;
}

.eduk-main-body-container.backend-main-body-container .modal-dialog .modal-footer {
    text-align: center;
    border-top: none;
    padding: 15px 0;
}

.popup-btn-orange {
    background-color: #f15a24;
    color: #fff;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.35);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.35);
    padding: 3px 45px;
    font-size: 24px;
}

.btn-orange:hover {
    color: #fff;
}

/*True and false style*/

.eduk-main-body-container.backend-main-body-container .sub-qst-container {
    font-size: 2rem;
    margin: 25px 0;
    line-height: 2em;
}

.btn-blue {
    background-color: #0295ce;
    color: #fff;
}

.btn-orange {
    background-color: #f7931e;
    color: #fff;
}

.eduk-main-body-container.backend-main-body-container .radio input[type=radio],
.eduk-main-body-container.backend-main-body-container .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: 0;
    top: -16px;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 1;
}

.eduk-main-body-container.backend-main-body-container .radio-info input[type="radio"]:checked + label::before {
    border-color: #303030;
}

.eduk-main-body-container.backend-main-body-container .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: -12px;
    margin-left: 0;
    border: 1px solid #303030;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eduk-main-body-container.backend-main-body-container .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.eduk-main-body-container.backend-main-body-container .radio-info input[type="radio"]:checked + label::after {
    background-color: #4d4d4d;
}

.eduk-main-body-container.backend-main-body-container .radio-info input[type="radio"]:checked + label::after {
    background-color: #4d4d4d;
}

.eduk-main-body-container.backend-main-body-container .radio-info input[type="radio"] + label::after {
    background-color: #4d4d4d;
}

.eduk-main-body-container.backend-main-body-container .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 32px;
    height: 32px;
    left: 29px;
    top: -3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #000;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

@media (min-width: 1025px) {
    /*.backend-middle-main-container .ans-container > .row {
	    max-width: 80%;
	}*/
}

.eduk-main-body-container.backend-main-body-container .main-footer .pagination > li.underline > a {
    position: relative;
}

    .eduk-main-body-container.backend-main-body-container .main-footer .pagination > li.underline > a:after {
        background: #000;
        content: "";
        position: absolute;
        height: 2px;
        display: inline-block;
        bottom: 9px;
        left: 16px;
        right: 0;
        width: 12px;
    }

    .eduk-main-body-container.backend-main-body-container .main-footer .pagination > li.underline > a > sup {
        font-size: 24px;
        top: 18px;
        position: absolute;
        z-index: 999;
        right: 5px;
    }

    .eduk-main-body-container.backend-main-body-container .main-footer .pagination > li.underline > a:has(> sup) {
        padding: 8px 5px 8px 16px;
    }

.is-calculator {
    width: 80px;
    border-radius: 4px;
}
/*True and false style end*/

.eduk-main-body-container.backend-main-body-container .btn.focus,
.eduk-main-body-container.backend-main-body-container .btn:focus,
.eduk-main-body-container.backend-main-body-container .btn:hover {
    /* color: #fff;
    text-decoration: none;*/
}

.ans-container {
    padding: 25px 0 0 0;
}

.backend-middle-main-container .badge.bg-light-white.grey-circle {
    background-color: #808080;
    color: #fff;
    border-color: #808080;
}


input::-webkit-calendar-picker-indicator {
    display: none;
}

.sub-qst-container input {
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    line-height: 1em;
}

#ice-cream-flavors option {
    width: 6%;
    float: left;
    border: 1px solid;
    text-align: -webkit-center;
    border-color: darkgray;
    display: inline;
}

#ans-opt {
    /* display: none;*/
}


.sub-qst-container .collapse.in {
    display: block;
    /*width: 12%;*/
    display: inherit;
    position: absolute;
    background-color: #e6e6e6;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    left: 20px;
}

.sub-qst-container .collapsing {
    position: absolute;
    background-color: #e6e6e6;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    height: auto;
    display: block;
    /*left: 0;
    right: 0;*/
}

    .sub-qst-container .collapsing span {
        position: relative;
        padding: 8px;
    }

        .sub-qst-container .collapsing span:after {
            content: "";
            height: 15px;
            width: 2px;
            background-color: #dda4a4;
            display: inline-block;
            position: absolute;
            top: 12px;
            bottom: 0;
            right: 0px;
        }

.sub-qst-container .collapse span {
    position: relative;
    padding: 8px;
}

    .sub-qst-container .collapse span:after {
        content: "";
        height: 15px;
        width: 2px;
        background-color: #dda4a4;
        display: inline-block;
        position: absolute;
        top: 12px;
        bottom: 0;
        right: 0px;
    }

    .sub-qst-container .collapse span:last-child:after {
        content: none;
    }

.sub-qst-container .collapsing span:last-child:after {
    content: none;
}


.blanks-container {
    position: relative;
    display: inline-block;
}

.sub-qst-container input:focus {
    border-color: #dda4a4;
}

.form-container .form-control.blue-theme-option {
    background-color: #12a7db;
}

.form-container .form-control.green-theme-option {
    background-color: #52b254;
}

.form-container .form-control.purple-theme-option {
    background-color: #7757bc;
}

.form-container .form-control.yellow-theme-option {
    background-color: #ffb300;
}

.form-container .form-control.orange-theme-option {
    background-color: #f94623;
}

.form-container .form-control.teal-theme-option {
    background-color: #2ea9af;
}

.form-container .form-control.dark-yellow-theme-option {
    background-color: #ff9e3e;
}

.form-container .form-control.dark-blue-theme-option {
    background-color: #3669ce;
}

.form-container option {
    color: #000;
    text-align: center;
}

    .form-container option[value=""][disabled] {
        display: none;
    }

/* remove the original arrow */
.form-container select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
    border: none;
    color: #000;
}

.form-container select + i.fa {
    float: right;
    margin-top: -27px;
    margin-right: 0;
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    padding-right: 5px;
    color: #000;
    font-size: 18px;
}

.custom-file {
    position: relative;
    display: inline-block;
    /*width: 100%;*/
    /* height: calc(2.25rem + 2px);*/
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

/*style 16 July 2019*/
.file-upload-box-top .custom-file {
    position: relative;
    display: inline-block;
    /*width: 100%;*/
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.file-upload-box-top .file-upload-box-top-inner .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
/*style 16 July 2019*/

/*
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}*/

.file-upload-box-container {
    background-color: #666666;
    border-color: #666666;
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
}

    .file-upload-box-container h2 {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 35px;
    }

    .file-upload-box-container .file-upload-box-top-inner {
        display: inline-block;
        width: 100%;
        margin: 0 0 50px 0;
    }

    .file-upload-box-container .file-upload-box-top .upload-btn-label {
        float: right;
        margin-top: 7px;
    }

.file-upload-box #fileupload {
    display: none;
}

.file-upload-box form {
    display: table-row;
    width: 40rem;
    backround: pink;
}

.file-upload-box span[role=button] {
    display: table-cell;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    background-color: #f2f2f2;
    outline: none;
}

.file-upload-box-container .main-label {
    font-size: 24px;
    display: inline-block;
}

.file-upload-box-container .sub-label {
    font-size: 20px;
    display: inline-block;
}

/*.file-upload-box span[role=button]:hover,
.file-upload-box span[role=button]:focus {
  box-shadow: 0 0 5px #595959;
  background-color: #183a57;
  border-color: #265986;
  outline: 2px solid transparent;
}*/

.file-upload-box .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.file-upload-box input[type=text] {
    display: table-cell;
    padding: 8px 8px;
    color: #000000;
    height: 2.5em;
    font-size: 22px;
    background-color: #ffffff;
}

    .file-upload-box input[type=text]:focus {
        box-shadow: 0 0 5px #595959;
        border-color: #265986;
        outline: 2px solid transparent;
    }

.file-upload-box-bottom .btn,
.file-upload-box-bottom .btn:hover {
    background-color: #f2f2f2;
    color: #000;
}

.file-upload-box-container .progress-outer {
    background: #fff;
    padding: 5px 60px 5px 5px;
    /* border: 5px solid #bebfbf; */
    border-radius: 45px;
    margin-bottom: 20px;
    position: relative;
}

.file-upload-box-container .progress {
    /* background: #bebfbf; */
    height: 35px;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin: 40px 0 0 0;
}

.file-upload-box-container .progress-bar-danger {
    background-color: #000;
    border-radius: 5px;
}

.file-upload-box-container .progress .progress-value {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    position: relative;
    top: 5px;
    right: -7px;
}

.file-upload-box-container .progress-container .upload-summary {
    text-align: right;
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 18px;
}

.topic-list-conainer ul {
    list-style: none;
}

/*.topic-list-conainer > ul {
    list-style: none;
    overflow-y: auto;
    max-height: 600px;
}*/ /*old style 15 July 2019*/

.topic-list-conainer > ul {
    list-style: none;
    overflow-y: auto;
    max-height: 600px;
    padding: 0 10px 0 0;
}

.topic-list-conainer .list-group-item {
    background-color: inherit;
    border: none;
    padding: 0;
    width: 100%;
    display: inline-block;
    /*margin: 0 0 1px 0;*/
}

    .topic-list-conainer .list-group-item .topic-number {
        background-color: #f2f2f2;
        border: none;
        border-radius: 5px;
        display: inline-block;
        font-size: 26px;
        font-weight: bold;
        padding: 5px 15px;
        color: #000;
        margin-right: 10px;
    }

    /*.topic-list-conainer .list-group-item .topic-list-inner {
        background-color: #f2f2f2;
        border: none;
        display: inline-block;
        font-size: 20px;
        color: #000;
        padding: 10px 30px 10px 10px;
        width: 83.33333333%;
        border-radius: 5px;
        position: relative;
        margin-bottom: 5px;
    }*/ /*old style 15 July 2019*/

    .topic-list-conainer .list-group-item .topic-list-inner {
        background-color: #f2f2f2;
        border: none;
        font-size: 20px;
        color: #000;
        padding: 10px 30px 10px 10px;
        width: auto;
        overflow: hidden;
        float: none;
        border-radius: 5px;
        position: relative;
        margin-bottom: 5px;
    }

@media (max-width: 320px) {
    /*.topic-list-conainer .list-group-item .topic-list-inner {
        width: 80.3333333%;
    }*/ /*old style 15 July 2019*/
}

/*@media (min-width: 1200px) {
    .topic-list-conainer .list-group-item .topic-list-inner.col-lg-11 {
        width: 91.66666667%;
    }
}*/

.backend-middle-main-container-inner .edit-asset.edit-btn {
    background-image: url(../img/edit_asset.png);
    right: 5px;
    bottom: 5px;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.backend-middle-main-container-inner .edit-asset {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 10;
}

.topic-list-conainer .list-group-item .topic-list-inner .topic-edit {
    bottom: 11px;
    background-size: 26px;
    width: 26px;
    height: 26px;
}

.form-container .nice-select {
    border-radius: inherit;
    border: none;
}

.topic-list-conainer .list-group-item .topic-list-inner .topic-edit a {
    display: inline-block;
    width: 100%;
}

.form-container .theme-color-selcetion .nice-select #current {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
    height: 28px; /*style 15 July 2019*/
}

.form-container .theme-color-selcetion .nice-select {
    width: 100%;
    line-height: 29px;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: inherit;
}

.form-container .nice-select {
    height: 34px;
}

.form-container .theme-color-selcetion .nice-select .option.selected {
    font-weight: normal;
    text-align: center;
    /*line-height: 21px;*/ /*old style 15 July 2019*/
    line-height: 15px;
    min-height: 25px;
}

.form-container .theme-color-selcetion .nice-select .option {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    border: 1px solid #000;
    color: #000;
}

.form-container .theme-color-selcetion .nice-select.open .list {
    width: 100%;
    color: #000;
}

.form-container .theme-color-selcetion .nice-select span.option.firstopt {
    border: none;
}

.form-container .nice-select:after {
    width: 11px;
    height: 11px;
    margin-top: -6px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}


.topic-list-conainer ul ul.sub-topic-list .topic-margin-left {
    padding-left: 55px;
}

/*.topic-list-conainer ul ul.sub-topic-list{
   margin-left: 55px;
}*/

@media (min-width: 1200px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 90.666667%;
    }*/ /*old style 15 July 2019*/

    /*.topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 91.22%;
    }*/ /*old style 15 July 2019*/
}

@media (min-width: 420px) and (max-width: 823px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 81.333333%;
    }*/ /*old style 15 July 2019*/

    /*.topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 82.6666%;
    }*/ /*old style 15 July 2019*/
}

@media (min-width: 768px) and (max-width: 823px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 78.333333%;
    }*/ /*old style 15 July 2019*/

    /* .topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 82.333333%;
    }*/ /*old style 15 July 2019*/
}

@media (min-width: 830px) and (max-width: 1024px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 79.333333%;
    }*/ /*old style 15 July 2019*/

    /*.topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 82.333333%;
    }*/ /*old style 15 July 2019*/
}

@media (max-width: 330px) and (min-width: 320px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 75.333333%;
    }

    .topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 79.333333%;
    }*/ /*old style 15 July 2019*/
}

@media (max-width: 414px) and (min-width: 340px) {
    /*.topic-list-conainer .list-group-item.topic-margin-left .sub-topic-list-inner.col-lg-11 {
        width: 78.333333%;
    }*/ /*old style 15 July 2019*/

    /*.topic-list-conainer .list-group-item.topic-no-margin .sub-topic-list-inner.col-lg-11 {
        width: 82.333333%;
    }*/ /*old style 15 July 2019*/
}

.sub-topic-list .list-group-item .sub-topic-left {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    padding: 5px 15px;
    color: #000;
    margin-right: 10px;
}

/*style 15 July 2019*/
.topic-list-conainer .list-group-item .sub-topic-left {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    padding: 5px 15px;
    color: #000;
    margin-right: 10px;
}
/*style 15 July 2019 end */

.sub-topic-list .list-group-item .sub-topic-left.video-green {
    background-image: url(../img/video_green.png);
}

.sub-topic-list .list-group-item .sub-topic-left.video-red {
    background-image: url(../img/video_red.png);
}

.sub-topic-list .list-group-item .sub-topic-left.int-green {
    background-image: url(../img/int_green.png);
}

.sub-topic-list .list-group-item .sub-topic-left.int-red {
    background-image: url(../img/int_red.png);
}

.sub-topic-list .list-group-item .sub-topic-left.test-red {
    background-image: url(../img/test_red.png);
}

.sub-topic-list .list-group-item .sub-topic-left.test-green {
    background-image: url(../img/test_green.png);
}


/*style 15 July 2019*/
.topic-list-conainer .list-group-item .sub-topic-left.video-green {
    background-image: url(../img/video_green.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.video-red {
    background-image: url(../img/video_red.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.int-green {
    background-image: url(../img/int_green.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.int-red {
    background-image: url(../img/int_red.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.int-red {
    background-image: url(../img/int_red.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.test-red {
    background-image: url(../img/test_red.png);
}

.topic-list-conainer .list-group-item .sub-topic-left.test-green {
    background-image: url(../img/test_green.png);
}

/*style 15 July 2019 end*/


.sub-topic-list .list-group-item .sub-topic-left {
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    background-color: inherit;
    padding: 6px 20px;
}

/*style 15 July 2019*/
.topic-list-conainer .list-group-item .sub-topic-left {
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    background-color: inherit;
    padding: 6px 20px;
}
/*style 15 July 2019 end*/

/*.topic-list-conainer .list-group-item .sub-topic-list-inner {
    background-color: #f2f2f2;
    border: none;
    display: inline-block;
    font-size: 20px;
    color: #000;
    padding: 10px 30px 10px 10px;
    width: 80.33333333%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
}*/ /*old style 15 July 2019*/

/*style 15 July 2019*/
.topic-list-conainer .list-group-item .sub-topic-list-inner {
    background-color: #f2f2f2;
    border: none;
    font-size: 20px;
    color: #000;
    padding: 10px 30px 10px 10px;
    width: auto;
    overflow: hidden;
    float: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
}
/*style 15 July 2019 end*/


@media (min-width: 768px) {
    .eduk-main-body-container div.topic-form-container .btn-grey.btn-centered {
        display: block;
        margin: 20% auto;
    }
}

.eduk-main-body-container .form-container .btn-grey.padd-left-right-8 {
    padding: 0 8px;
}

.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner.topic-header-container {
    font-size: 2em;
    font-weight: normal;
    color: #f2f2f2;
    text-transform: uppercase;
}

.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner span.topic-title {
    font-size: 42px;
    display: inline-block;
    font-weight: normal;
    color: #f2f2f2;
    line-height: initial;
    text-transform: none;
}



.form-container form.add-asset-form-container {
    padding: 0;
    border-radius: unset;
    border: none;
}

    .form-container form.add-asset-form-container .add-asset-form-container-inner {
        padding: 0;
        border-radius: unset;
        border: 1px solid #999999;
    }

.form-container .asset-selcetion .nice-select {
    width: 100%;
    line-height: 24px;
    height: 36px;
    color: black;
}

    .form-container .asset-selcetion .nice-select .list {
        width: 100%;
    }

    .form-container .asset-selcetion .nice-select .option {
        line-height: 28px;
        color: black;
    }

    .form-container .asset-selcetion .nice-select span.option {
        line-height: 24px;
        padding-left: 0;
    }

.form-container .more {
    font-size: 30px;
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid;
}


.border-none {
    border: none !important;
}

.add-asset-form-container label {
    width: 100%;
}

@media (max-width: 736px) {
    .no-padding-right-respo {
        padding-right: 0 !important;
    }

    .no-padding-left-respo {
        padding-left: 0 !important;
    }
}

.image-upload-container {
    background-color: #f2f2f2;
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: #000;
    position: relative;
}

.add-asset-form-container .file-upload-box span[role=button] {
    color: #fff;
    cursor: pointer;
    background-color: #666666;
    position: absolute;
    z-index: 99;
    right: 135px;
    bottom: -16px;
}


.add-asset-form-container .file-upload-box .file-upload-box-top-inner {
    position: relative;
}


.file-upload-box .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* height: calc(1.5em + .75rem + 2px); */
    height: calc(1.7em + .75rem + 3px);
    padding: .375rem .75rem;
    font-weight: 400;
    /* line-height: 1.5; */
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    /* border: 1px solid #ced4da; */
    border-radius: 0;
    overflow: hidden;
}

    .file-upload-box .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.3em + .72rem);
        padding: .375rem .75rem;
        line-height: 1.3;
        color: #fff;
        content: "Browse";
        background-color: #666666;
        border-left: inherit;
        border-radius: 0.25em;
        margin-right: 6px;
        margin-top: 3px;
        font-size: 18px;
    }


.file-upload-box .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 10px;
    margin: 0;
    opacity: 0;
}
/*old style 16 July 2019*/

/*style 16 July 2019*/
.file-upload-box-top-inner .file-upload-box .custom-file-input {
    position: absolute;
    z-index: 2;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px);*/
    padding: 19px;
    margin: 0;
    opacity: 0;
}


.file-upload-box .file-upload-box-top-inner .custom-file-label {
    position: initial;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2.1;
    height: 2.5em;
    font-size: 22px !important;
    color: #495057;
    background-color: #fff;
    border-radius: 0;
    overflow: hidden;
}

    .file-upload-box .file-upload-box-top-inner .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        color: #000;
        content: "Browse";
        display: block;
        font-family: Arial;
        font-size: 20px;
        padding: 5px 8px;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        background-color: #f2f2f2;
        outline: none;
        height: 38px;
        line-height: 29px;
        margin-top: 8px;
    }
/*style 16 July 2019 end*/


/*style 15 July 2019*/


.eduk-main-body-container .form-group.file-upload .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

    .eduk-main-body-container .form-group.file-upload .custom-file input[type=file] {
        height: 33px;
    }

.eduk-main-body-container .form-group.file-upload .custom-file-label {
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.7em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    border-radius: 0;
    overflow: hidden;
}

    .eduk-main-body-container .form-group.file-upload .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.7em + .75rem + 2px);
        padding: .375rem .75rem;
        line-height: 1.8;
        color: #fff;
        content: "Browse";
        background-color: #666666;
        border-left: inherit;
        border-radius: 0.25em;
        margin-right: 6px;
        margin-top: 3px;
        font-size: 18px;
    }

    .eduk-main-body-container .form-group.file-upload .custom-file-label::after {
        content: "";
        background-image: url(../img/upload-icon.png);
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 28px;
        background-color: #fff;
        right: 0;
        width: 34px;
        height: auto;
        display: inline-block;
        z-index: 999999;
    }

/*style 15 July 2019 end*/

.file-upload-box .file-upload-box-top {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}

    .file-upload-box .file-upload-box-top .reso-label {
        float: left;
        margin-right: 5px;
        width: 80px;
        text-align: right;
        padding-top: 5px;
    }

@media (max-width: 420px) {
    .file-upload-box .file-upload-box-top .reso-label {
        width: 112px;
        text-align: left;
    }
}

.file-upload-box .file-upload-box-top .sub-label {
    font-size: 14px;
    float: right;
    padding: 10px 0;
}

.file-upload-box.file-upload-box-top .custom-file-label {
    font-size: 16px;
}

.file-upload-box .file-upload-box-top .custom-file-label {
    font-size: 16px;
}

.file-upload-box-right-container .uploaded-file-thumbnail-box {
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    width: 80%;
    min-height: 170px;
    margin-top: 5px;
}

    .file-upload-box-right-container .uploaded-file-thumbnail-box img {
        width: 100%;
    }

.eduk-main-body-container .form-container .file-upload-box .btn-grey {
    margin: 0 auto;
    display: block;
    color: #fff;
}

.display-inline-block {
    display: inline-block;
}

.file-upload-box .file-upload-box-right-container {
    position: relative;
}

    .file-upload-box .file-upload-box-right-container .sub-label {
        font-size: 14px;
        padding: 10px 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }

.form-group.image-upload-container {
    margin: 0;
}

@media (max-width: 823px) {
    .form-group.image-upload-container {
        padding-bottom: 60px;
    }
}

.file-upload-box .display-inline-block {
    position: absolute;
    left: 0;
    bottom: 20px;
}

.add-asset-topic-container .form-container .box-header {
    text-align: left;
}

    .add-asset-topic-container .form-container .box-header strong {
        text-transform: none;
        font-weight: 600;
    }

.eduk-main-body-container .add-asset-topic-container .form-container .box-header .box-title {
    float: left;
    /*position: relative;*/
}

@media (min-width: 750px) {
    .eduk-main-body-container .add-asset-topic-container .form-container .box-header .box-title {
        bottom: 10px;
        position: absolute;
    }
}

@media (max-width: 749px) {
    .eduk-main-body-container .add-asset-topic-container .form-container .box-header .box-title {
        width: 100%;
        text-align: center;
    }
}

.eduk-main-body-container .add-asset-topic-container .form-container .box-header .header-asset-status {
    font-size: 22px;
    color: #f2f2f2;
    width: 135px;
    text-align: center;
}

    .eduk-main-body-container .add-asset-topic-container .form-container .box-header .header-asset-status a {
        color: inherit;
    }

    .eduk-main-body-container .add-asset-topic-container .form-container .box-header .header-asset-status img {
        width: 50px;
    }

.eduk-main-body-container .add-asset-topic-container .form-container .box-footer .btn-grey:first-child {
    margin-left: 22px;
}

.upload-progress {
    position: absolute;
    height: 38px;
    background-color: rgba(25, 25, 25, 0.7);
    z-index: 99;
    top: 0px;
    left: 0;
}

    .upload-progress.percentage-12 {
        width: 12%;
    }

    .upload-progress.percentage-24 {
        width: 24%;
    }

.eduk-main-body-container .form-container .header-asset-status {
    width: 100%;
    text-align: center;
}

.eduk-main-body-container .form-container .box-body .header-asset-status img {
    width: 50px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner.topic-header-container.sub-topic-header-container {
    font-size: 1.5em;
}

    .eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner.topic-header-container.sub-topic-header-container span.sub-title {
        font-size: 26px;
    }

.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner span.topic-title {
    font-size: 32px;
    width: 100%;
}

.file-upload-box .custom-file-label.uploaded-file {
    background-color: #f2f2f2;
}

    .file-upload-box .custom-file-label.uploaded-file::after {
        content: "Remove";
    }

.eduk-main-body-container .add-asset-topic-container .form-container .box-header .header-asset-delete {
    float: right;
    position: relative;
    top: -38px;
}

.msg-display-box {
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    color: #000;
}

.file-upload-box.add-int-sim .file-upload-box-top .reso-label {
    width: 120px;
}

.file-upload-box.add-int-sim .file-upload-box-top .sub-label {
    float: left;
}

.file-upload-box.add-int-sim .file-upload-box-right-container .uploaded-file-thumbnail-box {
    width: 100%;
}

.file-upload-box.file-upload-box-top .sub-label {
    font-size: 14px;
    float: right;
    padding: 10px 0;
}

.d-block {
    display: block !important;
}

.py-2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.py-4 {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}

.file-upload-box .custom-file-label.uploaded-file.delete-btn::after {
    content: "Delete";
}

/*style 16 July 2019*/
.file-upload-box .custom-file-label.uploaded-file.delete-btn-text::after {
    content: "Delete";
}
/*style 16 July 2019 end*/

.min-height {
    min-height: 500px;
}

.eduk-main-body-container .add-asset-topic-container .form-container .box-header .box-title.text-transform-none {
    text-transform: none;
}

.text-transform-none {
    text-transform: none;
}

.position-relative {
    position: relative !important;
}

.mr-2 {
    margin-right: 0.5em !important;
}

.mr-4 {
    margin-right: 1.5em !important;
}

.theme-white-text {
    color: #f2f2f2 !important;
}

.eduk-main-body-container .form-container .box-header.theme-white-text .box-title {
    color: #f2f2f2 !important;
}

.current-qst-box {
    float: right;
    font-size: 3em;
}


.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner.header-sub-topic-title-container span.sub-title {
    font-size: 32px;
}

.eduk-main-body-container.backend-main-body-container .header-middle-text .header-middle-text-inner.header-sub-topic-title-container span.topic-title {
    font-size: 38px;
}



/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

.header-middle-topic-container-value {
    display: none;
}
