﻿@model EdukiteService.Business.Entities.AssetModel

@{
    ViewBag.Title = "CreateTest";
}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner add-asset-topic-container">

                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header margin-0-auto">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Add Asset: <strong>Test</strong>	</h3>
                                    <div class="header-asset-status margin-0-auto">
                                        <img src="~/Content/img/test_Show.png" alt="edukite" class="video-show">
                                        <img src="~/Content/img/test_hidden.png" alt="edukite" class="video-hide" style="display: none;"><br>
                                        <a href="" class="video-hide-btn">Hide</a>/<a href="" class="video-show-btn">Show</a>
                                    </div>
                                </div>
                            </div>
                                <!-- /.box-header -->
                                <!-- form start --> 
                                <form role="form" method="post" enctype="multipart/form-data" class="add-asset-form-container">
                                    <div class="add-asset-form-container-inner">
                                        <div class="box-body">

                                            <div class="form-group asset-selcetion no-padding-right pull-left no-padding-left col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputEmail1">Subtopic</label>
                                                @if (Model.SubtopicId != null)
                                                {
                                                    <div>
                                                        @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName", Model.SubtopicId), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                }
                                            </div>

                                            <div style="display:none">
                                                @Html.EditorFor(model => model.TopicId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.AssetTypeId, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>

                                            <div class="form-group no-padding-left no-padding-right pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputEmail1">Asset UUID*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group no-padding-right-respo no-padding-left pull-left col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputEmail1">Number of questions*</label>
                                                <input type="text" class="form-control" id="txtNumberOFQuestions">
                                            </div>

                                            <div class="form-group no-padding-left no-padding-right pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputPassword1">Duration (Seconds)*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetLength, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetLength, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group no-padding-left file-upload-box file-upload-box-top col-lg-10 col-sm-10 col-md-10 col-xs-12">
                                                <label class="reso-label" for="imageHigh">Zip Folder*</label>
                                                @*<div class="custom-file col-lg-11 col-sm-10 col-md-10 col-xs-12">
                <input type="file" class="custom-file-input" id="customFile2">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span class="sub-label">(12.02 MB)</span>*@

                                                <div class="custom-file col-lg-11 col-sm-10 col-md-10 col-xs-12">

                                                    <div class="custom-file col-lg-11 col-sm-10 col-md-10 col-xs-12">
                                                        @Html.TextBoxFor(model => model.PostedFileZip, new { type = "file", id = "customFileZip", htmlAttributes = new { @class = "custom-file-input" } })
                                                        <label id="lblZipChooseFile" class="custom-file-label" for="customFileZip">Choose file</label>
                                                    </div>
                                                    <label id="customFileZipName" style="font-size: 16px"></label>
                                                    <button type="button" class="highFileButton" id="btnCustomFileZipName">Delete</button>
                                                    <span id="customFileZipSize" class="sub-label"></span>
                                                </div>

                                                @Html.ValidationMessageFor(model => model.PostedFileZip, "", new { @class = "text-danger" })

                                            </div>

                                            </div>

                                            <div class="box-footer-inner py-4 margin-0-auto display-inline-block  margin-0-auto col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                <button type="button" id="uploadForm" class="btn btn-grey d-block margin-0-auto">Upload</button>
                                            </div>

                                        </div>
                                        <!-- /.box-body -->
                                   
                                    <div class="box-footer">
                                        <div class="pull-right col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                            <button type="button" id="btnMoreCancle" class="btn btn-grey pull-right">Cancel</button>
                                            <button type="submit" id="btnCreate" class="btn btn-grey pull-right">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
               

            </section>

        </div>
    </div>
    <!-- /.content -->
    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to re-publish GRADE 12?</p>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-none margin-0-auto">
                        <button type="button" class="btn pull-left">Yes</button>
                        <button type="button" class="btn pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.content-wrapper -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color:black" id="myModalLabel">Are you sure, You want to Cancel?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")
<script>


      var modalConfirm = function (callback) {

            $("#btnMoreCancle").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {

            if (customFileZip.files[0] != null) {
                 var formData = new FormData();
            formData.append('filesInput', filesInput);
           formData.append("AssetId", '@Model.AssetId');
                formData.append("AssetTypeId", @Model.AssetTypeId);
                formData.append("TopicId", @Model.TopicId);
            $.ajax({
                url: "/Asset/DeleteZipFile",
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    debugger;

                }
            });
            }

             window.location.href = '@Url.Action("GetSubTopics", "SubTopics")' + '?id=' + @TempData["TopicId"];

        } else {
        }
    });


    $("#customFileZip").on("change", function (e) {
        debugger;
        filesInput = e.target.files[0];
        if (e.target.files && e.target.files[0]) {
            var size = e.target.files[0].size;
            var customFileZipSizeMB = "(" + (size / (1024 * 1024)).toFixed(3) + "MB)";

            $("#lblZipChooseFile").text(filesInput.name);
            $("#customFileZipSize").text(customFileZipSizeMB);
            var formData = new FormData();
            formData.append('filesInput', filesInput);
           formData.append("AssetId", '@Model.AssetId');
                formData.append("AssetTypeId", @Model.AssetTypeId);
                formData.append("TopicId", @Model.TopicId);
            $.ajax({
                url: "/Asset/GetTestZipFileInfo",
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    debugger;
                    $("#txtNumberOFQuestions").val(data);
                }
            });


        } else {
            $("#lblZipChooseFile").text("Choose file");
            $("#customFileZipSize").text("");
            $('#image_upload_preview').removeAttr("src");
        }
    });


    $("#uploadForm").click(function () {

        if ($("#customFileZip")[0].files[0] != undefined && $("#customFileZip")[0].files[0].name.split('.').pop() == "zip") {
            $("#lblZipChooseFile").hide();
            $("#customFileZip").hide();
            $("#customFileZipName").text($("#customFileZip")[0].files[0].name);
            $("#customFileZipName").show();
            $("#btnCustomFileZipName").show();
            $("#btnCreate").attr("disabled", false);
        }
        else {
            $("#btnCreate").attr("disabled", true);
        }

    })

    $("#btnCustomFileZipName").click(function () {
        $("#btnCreate").attr("disabled", true);
        $("#lblZipChooseFile").show();
        $("#lblZipChooseFile").text("Choose file");
        $("#customFileZip").show();
        $("#customFileZip").val("");
        $("#customFileZipSize").text("");
        $("#customFileZipName").hide();
        $("#btnCustomFileZipName").hide();
    });



    $(document).ready(function () {
        $("#customFileZipName").hide();
        $("#btnCustomFileZipName").hide();
        $("#btnCreate").attr("disabled", true);


    });




    $(".header-asset-status a").click(function () {
        debugger;
        if ($(this).hasClass("video-hide-btn")) {

            $(".header-asset-status .video-show").hide();
            $(".header-asset-status .video-hide").show();
            isSetAssetHide(0);
            return false;
        }
        else {
            $(".header-asset-status .video-show").show();
            $(".header-asset-status .video-hide").hide();
            isSetAssetHide(1);
            return false;
        }
    });


    function isSetAssetHide(hideShow) {
        $.ajax({
            url: "/Asset/setAssetHide",
            type: 'POST',
            data: { id: hideShow }
        }).done(function (data) {

        }).fail(function () {
            alert("There is something wrong. Please try again.");
        })
    }

    </script>
}
@Styles.Render("~/Content/css/CreateVideo.css");