@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}


html {
	height: 100%;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

body {
	text-align: center;
	height: 100%;
}

#wrapper {
	width: 1280px;
	height: 720px;
	position: relative;
	margin: 15px auto;
	text-align: left;
	border: rgba(51,51,51,1.00) solid 1px;
}

#main_header {
	height: 35px;
	background-color: rgba(51,51,51,1.00);
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	vertical-align: central;
}

#main_footer {
	height: 24px;
	width: 1260px;
	text-align: left;
	background-color: rgba(51,51,51,1.00);
	border: rgba(51,51,51,1.00) solid 1px;
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	clear: both;
	
}




#main_section {
	float: left;
	width: 660px;
	margin: 20px;
	
}

#main_aside {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: rgba(153,216,241,1.00);
}

#button_area {
	clear: both;
}

h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

p {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
}

/*Buttons*/

button.up {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button:hover {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.disabled {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #666;
	background: -webkit-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -moz-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -ms-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -o-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: linear-gradient(to bottom, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: #666666 solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.arrow {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.arrow:hover {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

