@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	 -webkit-user-select: none;
	 
}

@font-face {
  font-family: Roboto;
  src: url(roboto/Roboto-Regular.ttf);
}
html {
	height: 100%;
}


body {
	
	height: 100%;
}

p{
    position: relative;
    font-size: 28px;
    font-family: Roboto;
    width: 1200px;
    text-align: left;
	}
#wrapper {
	width: 1280px;	
	height: 720px;
	position: relative;
	margin: 15px auto;	
	border: rgba(51,51,51,1.00) solid 1px;
	z-index: 100;
	
}

#mainContent {
	position: absolute;
    width:1280px;
    height: 600px;
    top: 20px;
		overflow-y: scroll;
	overflow-x: hidden;
}
#bottomBar {
    position: absolute;
    width: 1280px;
    height: 99px;
    top: 621px;
    left: 0px;
    background-color:#ececec;
    z-index: 100;
}
#submit {
    position: absolute;
    width: 190px;
    height: 60px;
    top: 638px;
    left: 1046px;
    background: linear-gradient(#ff3005, #f95b10);
    border-radius: 12px;
    z-index: 101;
	cursor:pointer;
}
#submit h1{
    position: absolute;
    color: white;
    font-family: Roboto light;
    z-index: 101;
    padding-top: 9px;
    margin-left: 42px;

    cursor: pointer;
}

#star {
    position: absolute;
    width: 67px;
    height: 67px;
    top: 610px;
    left: 10px;
    z-index: 101;
	cursor:pointer;
}
#navHolder{
    position: absolute;
    left: 50px;
    top: 0px;
    height: 65px;
    width: 770px;
    z-index: 102;
	}
#navBar{
    position: absolute;
    left: 118px;
    top: 638px;
    height: 65px;
    width: 770px;
	z-index:102;
	}

.navButton{
    position: absolute;
    border-radius: 10%;
    /* border-color: white; */
    border: 1px solid #b7b7b7;
    height: 58px;
    width: 58px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    color: #797979;
    font-family: Roboto;
    /* font-weight: bold; */
    line-height: 58px;
	box-shadow: 2px 1px 3px 0px #00000075;
    -webkit-user-select: none;	
	}